.pages-breakdown > span{
	display: none;
}
.ajax-loader{
	display: none;
}
.pph-remove-coupon{
	color: #ea5351;
	padding: 8px;
}
.selected-service-list span.coupon-code{
	text-transform: uppercase;
}

.woocommerce-lost-password .form-wrap .woocommerce-ResetPassword .input-icon .icon-input{
  height:  60px;
}

@media (max-width: 767px){
  .woocommerce-lost-password .form-wrap .woocommerce-ResetPassword .input-icon .icon-input{
    height:  50px;
  }
}