/*.page-template-leave-testimonial .wpcf7-mail-sent-ok{
	display: block !important;
}*/

div.wpcf7 div.screen-reader-response.alert{
	padding: .75rem 1.25rem;
	position: relative;
	width: auto;
	height: auto;
	margin: 0 0 1rem 0;
}