// cta btn css start
.cta-btn{
	.cta-link{
		display: inline-block;
		background: $secondary-color-light;
		font-family: $primary-font;
		@include border-radius(2px);
		font-size: 16px;
		line-height: 22px;
		font-weight: 500;
		text-transform: uppercase;
		padding: 19px 30px;
		color: $color-white;
		position: relative;
		overflow: hidden;
		letter-spacing: 0.080em;
		border: 0;
		cursor: pointer;
		@include transition(all 0.3s ease-in-out);
		span{
			display: inline-block;
			position: relative;
			z-index: 2;
		}
		&.cta-sm{
			font-size: 16px;
			line-height: 19px;
			padding: 16px 30px 15px;
			&:after{
				display: block;
			}
			&:before{
				display: none;
			}
		}
		&.cta-xs{
			font-size: 14px;
			line-height: 16px;
			padding: 12px 20px 12px;
			&:after{
				display: block;
			}
			&:before{
				display: none;
			}
		}
		&:after{
			content: "";
			width: 0;
			right: 0;
			bottom: 0;
			height: 100%;
			background: $primary-color;
			position: absolute;
			@include transition(all 0.3s ease-in-out);
			display: none;
		}
		&:before{
			content: "";
			z-index: 2;
			position: absolute;
			background: url(../images/arrow-right.svg) no-repeat;
			width: 14px;
			height: 11px;
			top: 50%;
			margin-top: -5px;
			right: -20px;
			@include transition(all 0.3s ease-in-out);
		}
		&:hover{
			&:after{
				width: 100%;
				left: 0;
				right: inherit;
			}
			&:before{
				right: 10px;
			}
		}
		&.cta-outline{
			border: 1px solid $secondary-color-light;
			background: transparent;
			color: $secondary-color-light;
			&.cta-white{
				border-color: $color-white;
				color: $color-white;
				padding: 18px 30px;
				&:hover{
					background: $color-white;
					color: $secondary-color-light;
				}
				&:before{
					background: url(../images/arrow-right-red.svg) no-repeat;
				}
			}
			&:hover{
				background: $secondary-color-light;
				color: $color-white;
			}
		}
		&.cta-style2{
			color: $secondary-color-light;
			background: transparent;
			border-radius: 0;
			padding: 10px;
			font-size: 14px;
			line-height: 18px;
			font-weight: 700;
			&:after{
				display: none;
			}
			&:before{
				display: none;
			}
			span{
				&:after{
					content: "";
					height: 11px;
					width: 28px;
					right: 0;
					bottom: 0;
					background: rgba($secondary-color-light, 0.20);
					position: absolute;
					transform: translateX(5px) translateY(2px) scaleX(1);
					@include transition(all 0.6s ease-in-out);
				}
			}
			&:hover{
				span{
					&:after{
						transform: translateX(-10px) translateY(2px) scaleX(0.6);
					}
				}
			}
		}
		&.cta-blue{
			background: $color_chambray;
		}
	}
	button{
		&.cta-link{
			&:disabled{
				background: rgba($color-black, 0.5);
			}
		}
	}
}
// cta btn css end
// title css start
.title{
	text-align: center;
	padding-bottom: 40px;
	h2{
		text-align: center;
		display: inline-block;
		color: $color_chambray;
		font-size: 56px;
		line-height: 50px;
		letter-spacing: 0.040em;
		text-transform: uppercase;
		padding: 7px 16px 7px 16px;
		position: relative;
		z-index: 1;
		&:before{
			content: "";
			width: 42px;
			height: 42px;
			background: url(../images/dot-pattern-red.png);
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			opacity: 0.22;
		}
		&:after{
			content: "";
			width: 42px;
			height: 42px;
			background: url(../images/dot-pattern-red.png);
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: -1;
			opacity: 0.22;
		}
	}
	h3{
		font-size: 36px;
		line-height: 45px;
		letter-spacing: 0.040em;
		color: $color_chambray;
		text-transform: uppercase;
	}
	.title-sub-text{
		max-width: 990px;
		margin: 0 auto;
		font-size: 16px;
		line-height: 28px;
		padding-top: 28px;
		&.small-text-block{
			max-width: 770px;
		}
	}
	&.title-white{
		h2{
			color: $color-white;
		}
	}
	&.dot-white{
		h2{
			&:before{
				background: url(../images/dot-pattern.png);
				opacity: 0.22;
			}
			&:after{
				background: url(../images/dot-pattern.png);
				opacity: 0.22;
			}
		}
	}
}
// title css end

.home-services-wrap{
	padding: 70px 0 20px;
	.home-services-list{
		ul{
			li{
				margin-bottom: 50px;
				text-align: center;
				.h-service-icon{
					padding-bottom: 20px;
				}
				h3{
					font-size: 40px;
					line-height: 50px;
					letter-spacing: 0.040em;
					color: $color_mine_shaft;
					text-transform: uppercase;
				}
				.h-price-service{
					padding-bottom: 15px;
					font-size: 12px;
					color: $color_log_cabin;
					font-weight: 400;
					span{
						font-size: 14px;
						font-weight: 700;
						color: $secondary-color-light;
						display: inline-block;
						vertical-align: middle;
						padding-left: 4px;
					}
				}
				.h-service-desc{
					font-size: 16px;
					line-height: 28px;
					padding-bottom: 15px;
					color: $color_log_cabin;
				}
			}
		}
	}
}


.why-pph-section{
	padding: 70px 0 10px 0;
	background: url(../images/why-pph-bg.png);
	background-repeat: no-repeat;
	background-position: center right;
}
.why-pph-points{
	ul{
		li{
			margin-bottom: 55px;
			text-align: center;
			.icon{
				text-align: center;
				padding-bottom: 8px;
				.svg{
					width: 69px;
					height: 59px;
				}
			}
			h4{
				font-family: $primary-font;
				font-size: 16px;
				color: $color_masala;
				//letter-spacing: 0.060em;
				font-weight: 500;
			}
		}
	}
}

.how-we-work-wrap{
	padding: 70px 0 70px;
	background-image: url(../images/how-we-work-bg.png);
	background-repeat: no-repeat;
	background-position: center left -40px;
}

.work-process{
	ul{
		display: flex;
		flex-wrap: wrap;
		li{
			width: 20%;
			position: relative;
			.icon{
				width: 95px;
				height: 110px;
				margin: 0 auto;
				position: relative;
				background: url(../images/process-icon.png) no-repeat;
				.svg{
					width: 49px;
					height: 49px;
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					margin: auto;
				}
			}
			.name{
				text-align: center;
				color: $color_masala;
				font-size: 16px;
				line-height: 23px;
				padding-top: 12px;
			}
			.line{
				position: absolute;
				height: 1px;
				width: 70%;
				background: url(../images/line-dot.png) repeat-x $color_chambray;
				left: -30%;
				top: 105px;
				&:before{
					content: "";
					height: 12px;
					width: 1px;
					position: absolute;
					left: 0;
					top: -6px;
					background: $color_chambray;
				}
			}
			.circle-dot{
				position: absolute;
				left: -30px;
				top: 96px;
				width: 16px;
				height: 16px;
				border: 1px solid $color_chambray;
				background: $color_chambray;
				@include box-shadow(inset 0px 0px 0px 2px $color-white);
				@include border-radius(100%);
				display: none;
			}
			&:first-child{
				.line{
					width: 40%;
					left: 0;
					&:before{
						display: none;
					}
				}
				.circle-dot{
					display: block;
				}
			}
		}
		&.second-row{
			li{
				&:first-child{
					.line{
						width: 30%;
						left: 10%;
					}
					.circle-dot{
						display: none;
					}
				}
				&:last-child{
					&:after{
						content: "";
						position: absolute;
						height: 1px;
						width: 32%;
						background: $color_chambray;
						right: 0%;
						top: 103px;
					}
					.circle-dot{
						display: block;
						left: inherit;
						right: -30px;
					}
				}
			}
		}
	}
	.process-connecter{
		padding: 60px 0;
		position: relative;
		.line{
			width: 95%;
			margin: 0 auto;
			height: 1px;
			background: $color_chambray;
		}
		.right-corner{
			width: 98px;
			height: 125px;
			position: absolute;
			right: -28px;
			top: -64px;
			border-color: $color_chambray;
			border-style: solid;
			border-width: 1px 1px 1px 0px;
			@include border-radius(0 85px 81px 0);
			&:before{
				content: "";
				height: 12px;
				width: 1px;
				position: absolute;
				left: 0;
				top: -6px;
				background: $color_chambray;
			}
		}
		.left-corner{
			width: 128px;
			height: 167px;
			position: absolute;
			left: -48px;
			bottom: -106px;
			border-color: $color_chambray;
			border-style: solid;
			border-width: 1px 0 1px 1px;
			@include border-radius(85px 0 0 81px);
		}
	}
	&.service-detail-process{
		max-width: 1100px;
		margin: 0 auto;
		ul{
			li{
				width: 33.33%;
			}
		}
	}
}

.home-work-section{
	position: relative;
	.work-slider{
		.work-slide{
			height: 915px;
			background-image: url(../images/why-pph-bg.png);
			background-repeat: no-repeat;
			background-position: center right -80px;
			color: $color-white;
			.container{
				height: 100%;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				position: relative;
				> div{
					width: 100%;
				}
				.slide-count-wrap{
					position: absolute;
					display: block;
					right: -50px;
					width: 40px;
					span{
						display: block;
						text-align: center;
						&.separator{
							height: 1px;
							background: $color-white;
							margin: 15px 0;
						}
					}
				}
			}
			.work-slider-img{
				margin-left: -100px;
			}
		}
		> .slide-count-wrap{
			display: none;
		}
		.work-slider-text{
			h5{
				font-size: 12px;
				font-family: $primary-font;
				text-transform: uppercase;
				// letter-spacing: 0.040em;
				padding-bottom: 22px;
			}
			h3{
				font-size: 56px;
				// letter-spacing: 0.040em;
				line-height: 50px;
				padding-bottom: 30px;
			}
			p{
				font-size: 18px;
				line-height: 28px;
			}
			.cta-btn{
				padding-top: 30px;
			}
		}
	}
	.slider_arrow{
		max-width: 1200px;
		width: 100%;
		position: absolute;
		margin: 0 auto;
		bottom: 100px;
		left: 0;
		right: 0;
	}
}

.slider_arrow{
	display: flex;
	justify-content: flex-end;
	font-weight: 500;
	font-size: 16px;
	color: $color-white;
	// letter-spacing: 0.1em;
	span{
		position: relative;
		display: inline-block;
		z-index: 1;
		&:after{
			content: "";
			-webkit-transition: -webkit-transform .2s ease-out;
			-o-transition: transform .2s ease-out;
			transition: transform .2s ease-out;
			transition: transform .2s ease-out,-webkit-transform .2s ease-out;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: -1;
			background: rgba($color-black,.2);
			width: 100%;
			height: 1em;
			-webkit-transform-origin: 100%;
			-ms-transform-origin: 100%;
			transform-origin: 100%;
			-webkit-transform: translateX(-32%) translateY(.7em) scaleX(1);
			-ms-transform: translateX(-32%) translateY(.7em) scaleX(1);
			transform: translateX(-32%) translateY(.7em) scaleX(1);
		}
	}
	.slider_prev{
		border-right: 1px solid $color-white;
		padding: 5px 25px;
		cursor: pointer;
		span{
			&:after{
				-webkit-transform-origin: 0;
				-ms-transform-origin: 0;
				transform-origin: 0;
				-webkit-transform: translateX(32%) translateY(.7em) scaleX(1);
				-ms-transform: translateX(32%) translateY(.7em) scaleX(1);
				transform: translateX(32%) translateY(.7em) scaleX(1);
			}
		}
		&:hover{
			span{
				&:after{
					-webkit-transform: translateX(32%) translateY(.7em) scaleX(.5);
					-ms-transform: translateX(32%) translateY(.7em) scaleX(.5);
					transform: translateX(32%) translateY(.7em) scaleX(.5);
				}
			}
		}
	}
	.slider_next{
		padding: 5px 25px;
		cursor: pointer;
		&:hover{
			span{
				&:after{
					-webkit-transform: translateX(-32%) translateY(.7em) scaleX(.5);
					-ms-transform: translateX(-32%) translateY(.7em) scaleX(.5);
					transform: translateX(-32%) translateY(.7em) scaleX(.5);
				}
			}
		}
	}
}

.customer-says-wrap{
	padding: 70px 0;
	.customer-says-box{
		max-width: 980px;
		margin: 20px auto 60px;
		position: relative;
		@include border-radius(10px);
		@include box-shadow(0px 7px 57px rgba($color-black, 0.05));
		padding: 40px;
		z-index: 1;
		display: flex;
		flex-wrap: wrap;
		&:before{
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: $color-white;
			@include border-radius(10px);
		}
		&:after{
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 12px;
			top: 10px;
			background: url(../images/dot-pattern-blue.png);
			@include border-radius(10px);
			z-index: -1;
			opacity: 0.1;
		}
		.customer-img{
			width: 223px;
			position: relative;
			padding-left: 10px;
			.img{
				@include border-radius(100%);
				position: relative;
				max-width: 164px;
				img{
					@include border-radius(100%);
					position: relative;
					z-index: 1;
				}
				&:after{
					content: "";
					width: 100%;
					height: 100%;
					position: absolute;
					right: 12px;
					top: 0px;
					background: url(../images/dot-pattern-blue.png);
					@include border-radius(100%);
					opacity: 0.1;
				}
			}
		}
		.customer-quote{
			width: calc(100% - 223px);
			position: relative;
			padding: 0 100px;
			min-height: 164px;
			color: $color_log_cabin;
			font-size: 18px;
			line-height: 30px;
			&:before{
				content: "";
				position: absolute;
				left: 0;
				top: 0px;
				background: url(../images/left-quote.png) no-repeat;
				width: 75px;
				height: 60px;
			}
			&:after{
				content: "";
				position: absolute;
				right: 0;
				bottom: 0px;
				background: url(../images/right-quote.png) no-repeat;
				width: 75px;
				height: 60px;
			}
			h3{
				font-family: $primary-font;
				font-size: 20px;
				font-weight: 600;
				padding-bottom: 20px;
			}
		}
	}
}

.subscribe-wrap{
	.container{
		padding: 80px 15px 166px;
		position: relative;
	}
	h3{
		text-align: center;
		font-size: 56px;
		// letter-spacing: 0.040em;
		line-height: 50px;
		color: $color_chambray;
		text-transform: uppercase;
		padding-bottom: 25px;
		position: relative;
		z-index: 12;
	}
	.subscribe-text{
		text-align: center;
		font-size: 20px;
		line-height: 28px;
		color: $color_masala;
		padding-bottom: 45px;
		position: relative;
		z-index: 12;
		mark{
			background: rgba($secondary-color-light, 0.2);
			font-weight: 700;
		}
	}
	.subscribe-form{
		max-width: 790px;
		margin: 0 auto;
		position: relative;
		z-index: 12;
		.ns-form{
			display: flex;
			flex-wrap: wrap;
		}
		.ns-group{
			padding-right: 30px;
			width: 40%;
		}
		.ns-action{
			width: 20%;
			.ns-submit{
				display: inline-block;
				background: $color_chambray;
				font-family: $primary-font;
				@include border-radius(5px);
				font-size: 16px;
				line-height: 22px;
				font-weight: 500;
				text-transform: uppercase;
				padding: 19px 5px;
				color: $color-white;
				position: relative;
				overflow: hidden;
				// letter-spacing: 0.080em;
				border: 0;
				width: 100%;
				text-align: center;
				height: 60px;
				cursor: pointer;
				@include transition(all 0.3s ease-in-out);
			}
		}
	}
	.bg-svg{
		position: absolute;
		top: 130px;
		left: 0;
		right: 0;
		margin: 0 auto;
		svg{
			width: 1171px;
			height: 281px;
			*{
				-webkit-transition: -webkit-transform .6s ease-in-out;
				transition: -webkit-transform .6s ease-in-out;
				transition: transform .6s ease-in-out;
				transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
				-webkit-transform-origin: center;
				-ms-transform-origin: center;
				transform-origin: center;
			}
		}
	}
	&.is-focus{
		.bg-svg{
			.obj_1{
				@include transform(translate(70px,55px));
			}
			.obj_2{
				@include transform(translate(20px,-55px));
			}
			.obj_3{
				@include transform(translate(-25%,-10px));
			}
			.obj_4{
				@include transform(translate(-45%,160px));
			}
			.obj_5{
				@include transform(translate(-120px,-60px));
			}
			.obj_6{
				@include transform(translate(10%,-35%));
			}
			.obj_7{
				@include transform(translate(180px,20%));
			}
			.obj_8{
				@include transform(translate(180px,43%));
			}
			.obj_9{
				@include transform(translate(-412px,85px));
			}
		}
	}
}

.form-wrap{
	&.small-wrap{
		max-width: 780px;
		margin: 0 auto;
	}
	&.login-form{
		.cta-btn{
			.cta-link{
				max-width: 100%;
			}
		}
	}
	span, label{
		&.error{
			color: $color_error;
		}
		&.ns-error{
			color: $color_error;
		}
	}
	.form-control{
		height: 60px;
		width: 100%;
		box-shadow: none;
		border: 1px solid #D5DBE6;
		@include border-radius(5px);
		font-size: 16px;
		padding: 0 20px;
		color: $color_shady_lady;
		font-weight: 400;
		// letter-spacing: 0em;
		&.wpcf7-not-valid{
			border-color: $color_error;
		}
		&.error{
			border-color: $color_error;
		}
		&.ns-error{
			border-color: $color_error;
		}
		&::-webkit-input-placeholder {
			color: $color_shady_lady;
			opacity: 1;
			text-indent: 0;
			-webkit-transition: text-indent .2s ease-in-out;
			transition: text-indent .2s ease-in-out;
		}
		&:-moz-placeholder {
			color: $color_shady_lady;
			opacity:1;
			text-indent: 0;
			-webkit-transition: text-indent .2s ease-in-out;
			transition: text-indent .2s ease-in-out;
		}
		&::-moz-placeholder {
			color: $color_shady_lady;
			opacity:1;
			text-indent: 0;
			-webkit-transition: text-indent .2s ease-in-out;
			transition: text-indent .2s ease-in-out;
		}
		&:-ms-input-placeholder {
			color: $color_shady_lady;
			opacity:1;
			text-indent: 0;
			-webkit-transition: text-indent .2s ease-in-out;
			transition: text-indent .2s ease-in-out;
		}
		&:focus{
			background: rgba($color_chambray, 0.04);
			border-color: $color_chambray;
			color: $color_chambray;
			&::-webkit-input-placeholder {
				color: $color_chambray;
				text-indent: -200%;
				-webkit-transition: text-indent .2s ease-in-out;
				transition: text-indent .2s ease-in-out;
			}
			&:-moz-placeholder {
				color: $color_chambray;
				text-indent: -200%;
				-webkit-transition: text-indent .2s ease-in-out;
				transition: text-indent .2s ease-in-out;
			}
			&::-moz-placeholder {
				color: $color_chambray;
				text-indent: -200%;
				-webkit-transition: text-indent .2s ease-in-out;
				transition: text-indent .2s ease-in-out;
			}
			&:-ms-input-placeholder {
				color: $color_chambray;
				text-indent: -200%;
				-webkit-transition: text-indent .2s ease-in-out;
				transition: text-indent .2s ease-in-out;
			}
		}
	}
	textarea{
		&.form-control{
			height: 190px;
			padding-top: 15px;
		}
	}
	.forgot-password{
		position: relative;
		a{
			position: absolute;
			right: 20px;
			top: 50%;
			@include transform(translate(0px, -50%));
			font-size: 12px;
			font-weight: 500;
			color: $color_chambray;
			// letter-spacing: 0.040em;
			font-family: $primary-font;
		}
		.form-control{
			padding-right: 90px;
		}
	}
	.input-icon{
		position: relative;
		.form-control{
			padding-left: 75px;
		}
		.icon-input{
			width: 50px;
			height: 100%;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			&:after{
				content: "";
				width: 1px;
				height: 20px;
				top: 50%;
				margin-top: -10px;
				right: 0;
				background: #909090;
				position: absolute;
			}
			.svg{
				position: absolute;
				width: 20px;
				height: 20px;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}
	.form-note{
		text-align: center;
		font-size: 12px;
		color: $color_chambray;
		padding-bottom: 25px;
		font-weight: 500;
		// letter-spacing: 0.060em;
	}
	.cta-btn{
		.cta-link{
			max-width: 180px;
		}
	}
	.my-pond{
		background: $color-white;
		border: 2px dashed #D5DBE6;
		@include border-radius(5px);
		*{
			color: $color-black;
		}
		.filepond--drip{
			background: white;
			opacity: 1
		}
		.filepond--drip-blob{
			background: rgba($secondary-color-light, 0.2);
		}
		.filepond--panel-root{
			background: transparent;
		}
		.filepond--item{
			margin: .25em .25em 10px .25em;
		}
		.filepond--file{
			background: $color-white;
			@include border-radius(4px);
			@include box-shadow(0 0 16px rgba(0,0,0,.16));
			.filepond--file-info{
				.filepond--file-info-main{
					font-size: 14px;
					// letter-spacing: 0.050em;
					color: $color_chambray
				}
				.filepond--file-info-sub{
					color: $color-black;
					opacity: 0.9;
					font-size: 12px;
				}
			}
		}
	}
	.filepond--item-panel{
		display: none;
	}
	.filepond--item>.filepond--panel .filepond--panel-bottom{
		box-shadow: none;
	}
	.filepond--file-action-button.filepond--file-action-button{
		background: none;
	}
	.filepond--file-action-button.filepond--file-action-button svg{
		background: rgba($secondary-color-light, 0.4);
		@include border-radius(100%);
		color: $color-black;
	}
	.filepond--drop-label{
		min-height: 174px;
		background: none !important;
		label{
			position: relative;
			padding-top: 60px;
			font-family: $primary-font;
			font-size: 12px;
			font-weight: 500;
			// letter-spacing: 0.040em;
			&:before{
				content: "";
				width: 80px;
				height: 60px;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				margin: 0 auto;
				background: url(../images/upload.svg) no-repeat;
				background-size: 80%;
				background-position: center center;
			}
			.filepond--label-action{
				display: block;
				text-decoration: none;
				font-size: 14px;
				color: $color-white;
				background: rgba($color_chambray, 1);
				padding: 10px;
				// letter-spacing: 0.080em;
				@include border-radius(4px);
				margin-top: 8px;
				outline: none;
			}
		}
	}
	.custom-checkbox{
		span{
			color: $secondary-color-light;
			font-weight: 500;
		}
		a{
			color: $secondary-color-light;
			font-weight: 500;
			&:hover{
				color: $secondary-color-light;
			}
		}
	}
	.promo-code-box{
		position: relative;
		.form-control{
			padding-right: 130px;
			text-transform: uppercase;
			&::-webkit-input-placeholder{
				opacity: 1;
				text-transform: capitalize;
			}
			&:-moz-placeholder{
				opacity: 1;
				text-transform: capitalize;
			}
			&::-moz-placeholder{
				opacity: 1;
				text-transform: capitalize;
			}
			&:-ms-input-placeholder{
				opacity: 1;
				text-transform: capitalize;
			}
		}
		.cta-btn{
			position: absolute;
			right: 8px;
			top: 8px;
			.cta-link{
				padding: 10px 30px 11px;
				font-size: 14px;
			}
		}
	}
	.credit-card-form{
		.form-group{
			border: 1px solid #D5DBE6;
			@include border-radius(5px);
			padding: 15px;
			overflow: hidden;
			input{
				width: 100%;
				border: 0;
			}
		}
	}
}
.quote-service-select{
	padding-bottom: 25px;
	max-width: 1100px;
	margin: 0 auto;
	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li{
			width: 180px;
			height: 160px;
			border: solid 1px #e0e5f0;
			position: relative;
			margin: 10px;
			background: $color-white;
			top: 0;
			padding: 35px 8px 0;
			@include border-radius(6px);
			@include transition(all 0.3s ease-in-out);
			cursor: pointer;
			&:hover{
				top: -3px;
				@include box-shadow(0 2px 40px #e0e5f0);
			}
			// display: flex;
			// justify-content: center;
			// align-items: center;
			&:before{
				content: "";
				width: 0;
				height: 30px;
				position: absolute;
				right: 10px;
				top: 10px;
				background: url(../images/checked.svg) no-repeat;
				background-size: 100%;
				background-position: center center;
				@include transition(all 0.3s ease-in-out);
			}
			.icon{
				text-align: center;
				padding-bottom: 8px;
				.svg{
					width: 60px;
				}
			}
			h4{
				font-family: $primary-font;
				font-size: 12px;
				line-height: 18px;
				text-transform: uppercase;
				font-weight: 600;
				// letter-spacing: 0.040em;
				color: $color_chambray;
				text-align: center;
			}
			&.select{
				border-color: rgba($color_chambray, 0.4);
				&:before{
					width: 30px;
				}
			}
		}
	}
}

.cta-banner{
	height: 390px;
	position: relative;
	text-align: center;
	background: $color_cta_banner_bg;
	display: table;
	width: 100%;
	// display: flex;
	// align-items: center;
	// justify-content: center;
	&:before{
		content: "";
		height: 100%;
		width: 405px;
		background: url(../images/cta-banner-right-bg.png) no-repeat;
		background-position: center center;
		position: absolute;
		right: 0;
		top: 0;
	}
	&:after{
		content: "";
		height: 100%;
		width: 405px;
		background: url(../images/cta-banner-left-bg.png) no-repeat;
		background-position: center center;
		position: absolute;
		left: 0;
		top: 0;
	}
	.container{
		position: relative;
		display: table-cell;
		vertical-align: middle;
	}
	h2{
		font-size: 90px;
		// letter-spacing: 0.040em;
		text-align: center;
		color: $color-white;
		padding-bottom: 40px;
	}
	&.agency-cta-banner{
		color: $color-white;
		font-size: 17px;
		line-height: 28px;
		h3{
			color: $color-white;
			font-size: 50px;
			// letter-spacing: 0.060em;
			line-height: 50px;
			padding-bottom: 25px;
		}
		p{
			max-width: 790px;
			margin: 0 auto;
			// letter-spacing: 0.040em;
		}
	}
	.cta-btn{
		.cta-link + .cta-link{
			margin-left: 15px;
		}
	}
}

.custom-control-label{
	&::before{
		top: 3px;
		left: 0;
		width: 18px;
		height: 18px;
		@include border-radius(2px !important);
		border-color: $color_shady_lady;
		box-shadow: none !important;
	}
	&:after{
		top: 3px;
		left: 0;
		width: 18px;
		height: 18px;
		@include transform(scale(0));
		@include transition(all 0.3s ease-in-out);
	}
}
.custom-control-input:not(:disabled):active~.custom-control-label::before{
	background: $color-white;
	border-color: $color_shady_lady;
}
.custom-control-input:focus:not(:checked)~.custom-control-label::before{
	border-color: $color_shady_lady;
}
.custom-checkbox{
	padding-left: 0;
	.custom-control-label{
		padding-left: 1.5rem;
	}
	.custom-control-input{
		&:checked ~ .custom-control-label{
			&:after{
				background-image: url(../images/check-mark.svg);
				background-size: 12px 12px;
				@include transform(scale(1));
			}
		}
	}
}

.custom-control-input{
	&:checked ~ .custom-control-label{
		&::before{
			background: $secondary-color-light;
			border-color: $secondary-color-light;
		}
		&:after{
			background-image: url(../images/check-mark.svg) no-repeat;
			background-size: 14px 14px;
		}
	}
}


// bullet list
.bullet-list{
	li{
		position: relative;
		padding-left: 50px;
		min-height: 30px;
		font-size: 16px;
		line-height: 23px;
		color: $color_log_cabin;
		font-weight: 500;
		&:before{
			content: "";
			position: absolute;
			width: 9px;
			height: 9px;
			display: block;
			background: $secondary-color-light;
			@include border-radius(100%);
			top: 10px;
			left: 10px;
			@include box-shadow(0px 0px 0px 10px rgba($secondary-color-light, 0.15));
		}
	}
}

.service-quote-wrap{
	padding: 70px 0;
}
.quote-page-wrap{
	padding-top: 180px;
}

.pagination-wrap{
	display: flex;
	padding: 0 15px;
	justify-content: center;
	.pagination-block{
		display: flex;
		background: rgba($secondary-color-light, 0.2);
		padding: 15px 30px;
		@include border-radius(30px);
		ul{
			display: flex;
			li{
				a{
					display: inline-block;
					font-size: 15px;
					font-weight: 600;
					color: $color_tundora2;
					padding: 0 10px;
					&:hover{
						color: $secondary-color-light;
					}
				}
				&.active{
					span{
						display: inline-block;
						color: $secondary-color-light;
						font-size: 15px;
						font-weight: 600;
						padding: 0 90px 0 10px;
						position: relative;
						margin-right: 10px;
						&:after{
							content: "";
							height: 1px;
							width: 70px;
							position: absolute;
							top: 50%;
							right: 0;
							background: $secondary-color-light;
						}
					}
				}
			}
		}
		> a{
			span{
				position: relative;
				display: inline-block;
				z-index: 1;
				font-size: 16px;
				color: $secondary-color-light;
				font-weight: 600;
				&:after{
					content: "";
					-webkit-transition: -webkit-transform .2s ease-out;
					-o-transition: transform .2s ease-out;
					transition: transform .2s ease-out;
					transition: transform .2s ease-out,-webkit-transform .2s ease-out;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					z-index: -1;
					background: rgba($secondary-color-light,.2);
					width: 100%;
					height: 1em;
					-webkit-transform-origin: 100%;
					-ms-transform-origin: 100%;
					transform-origin: 100%;
					-webkit-transform: translateX(-32%) translateY(.6em) scaleX(1);
					-ms-transform: translateX(-32%) translateY(.6em) scaleX(1);
					transform: translateX(-32%) translateY(.6em) scaleX(1);
				}
			}
		}
		.prev{
			padding: 0px 0px;
			margin-right: 25px;
			cursor: pointer;
			span{
				&:after{
					-webkit-transform-origin: 0;
					-ms-transform-origin: 0;
					transform-origin: 0;
					-webkit-transform: translateX(32%) translateY(.6em) scaleX(1);
					-ms-transform: translateX(32%) translateY(.6em) scaleX(1);
					transform: translateX(32%) translateY(.6em) scaleX(1);
				}
			}
			&:hover{
				span{
					&:after{
						-webkit-transform: translateX(32%) translateY(.6em) scaleX(.5);
						-ms-transform: translateX(32%) translateY(.6em) scaleX(.5);
						transform: translateX(32%) translateY(.6em) scaleX(.5);
					}
				}
			}
		}
		.next{
			padding: 0px 0px;
			cursor: pointer;
			margin-left: 25px;
			&:hover{
				span{
					&:after{
						-webkit-transform: translateX(-32%) translateY(.7em) scaleX(.5);
						-ms-transform: translateX(-32%) translateY(.7em) scaleX(.5);
						transform: translateX(-32%) translateY(.7em) scaleX(.5);
					}
				}
			}
		}
	}
}

.about-intro{
	padding: 70px 0;
	font-size: 16px;
	line-height: 28px;
	color: $color_log_cabin;
}
.about-value-wrap{
	padding: 70px 0;
	font-size: 16px;
	line-height: 28px;
	color: $color_log_cabin;
	.nav{
		&.nav-pills{
			padding-right: 20px;
			.nav-link{
				@include transition(all 0.3s ease-in-out);
				color: $color_log_cabin;
				font-size: 16px;
				line-height: 26px;
				font-weight: 400;
				margin-bottom: 15px;
				// letter-spacing: 0.040em;
				padding: 1rem;
				&.active{
					background: $secondary-color-light;
					color: $color-white;
				}
				h5{
					font-family: $primary-font;
					font-size: 20px;
					font-weight: 600;
					margin-bottom: 10px;
				}
			}
		}
	}
}

.why-wrap{
	padding: 70px 0;
	.why-list{
		ul{
			li{
				border-bottom: 1px solid #E4E5ED;
				padding: 40px 0;
				color: $color_tundora2;
				line-height: 28px;
				font-size: 16px;
				&:first-child{
					padding-top: 0;
				}
				h5{
					font-family: $primary-font;
					font-size: 20px;
					font-weight: 600;
				}
				&:last-child{
					border: 0;
					padding-bottom: 0;
				}
			}
		}
		.discount-table{
			color: $color_tundora2;
			padding-top: 15px;
			.table-bordered{
				border: 1px dashed $color_tundora2;
				td, th{
					border: 1px dashed $color_tundora2;
				}
			}
			th{
				font-family: $secondary-font;
				font-size: 30px;
				// letter-spacing: 0.040em;
			}
			td{
				text-align: center;
				font-size: 16px;
				font-weight: 600;
			}
		}
	}
}

.statistics-wrap{
	padding: 70px 0;
	ul{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		li{
			width: 20%;
			padding: 0 10px;
			text-align: center;
		}
		.icon-box{
			padding-bottom: 30px;
		}
		h4{
			font-size: 30px;
			// letter-spacing: 0.060em;
			line-height: 50px;
			color: $color_tundora2;
		}
		span{
			display: block;
			font-size: 24px;
			font-weight: 600;
			color: $color_chambray;
		}
	}
}

.client-list-wrap{
	padding: 70px 0;
	.client-list{
		ul{
			display: flex;
			flex-wrap: wrap;
			li{
				width: 16.66%;
				padding: 0 15px;
				margin-bottom: 40px;
				img{
					-webkit-filter: grayscale(1);
					-webkit-filter: grayscale(100%);
					-moz-filter: grayscale(100%);
					@include transition(filter 0.4s);
				}
				&:hover{
					img{
						-o-filter: none;
						filter: none;
						-webkit-filter: none;
						-moz-filter: none;
						@include transition(filter 0.4s);
					}
				}
			}
		}
	}
}
.login-body{
	background: rgba(223, 228, 255, 0.18);
}
.login-page-wrap{
	height: 100vh;
	padding: 0 15px;
	position: relative;
	.container{
		height: 100%;
		position: relative;
		display: flex;
		align-items: center;
		z-index: 1;
		> div{
			flex: 0 0 100%;
			margin: 0;
		}
	}
	.login-box{
		//background-color: $color-white;
		max-width: 370px;
		width: 100%;
		position: relative;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 50%;
		@include border-radius(5px);
		//@include box-shadow(0 0px 36px rgba(0, 0, 0, 0.05));
		-webkit-transform: translate(0%, -50%);
		-moz-transform: translate(0%, -50%);
		-o-transform: translate(0%, -50%);
		-ms-transform: translate(0%, -50%);
		transform: translate(0%, -50%);
		> .cta-btn{
			position: absolute;
			bottom: -60px;
			width: 100%;
		}
		.title{
			padding-bottom: 30px;
		}
		a{
			font-size: 14px;
			font-weight: 500;
			color: $color_chambray;
			// letter-spacing: 0.040em;
			font-family: $primary-font;
		}
	}
	.login-header{
		padding: 20px 0;
		text-align: center;
		border-bottom: 1px solid rgba($color-black, 0.1);
		a{
			display: inline-flex;
			color: $color_chambray;
			font-family: $secondary-font;
			font-size: 39px;
			align-items: center;
			line-height: 39px;
			// letter-spacing: 0.03em;
			.brand-name{
				padding-top: 4px;
				padding-left: 8px;
				@include transition(all 0.3s ease-in-out);
			}
		}
	}
	.form-wrap{
		padding: 0px;
		h5{
			font-family: $primary-font;
			font-size: 18px;
			color: $color-black;
			font-weight: 600;
			margin-bottom: 20px;
			// letter-spacing: 0.050em;
		}
	}
}

.contact-banner{
	padding-top: 160px;
	background: url(../images/map-image.png) no-repeat;
	background-position: center bottom;
	.container{
		position: relative;
		z-index: 12;
	}
	h1{
		color: $color_chambray;
		text-align: center;
		font-size: 120px;
		// letter-spacing: 0.040em;
		line-height: 120px;
		text-transform: uppercase;
		width: 100%;
	}
	.contact-text{
		font-size: 18px;
		line-height: 28px;
		max-width: 760px;
		margin: 0 auto;
		padding-bottom: 50px;
		text-align: center;
		padding-top: 15px;
	}
}
.contact-info-list{
	position: relative;
	padding-bottom: 60px;
	.contact-info-box{
		width: 322px;
		height: 391px;
		background: url(../images/contact-base.png);
		margin: 0 auto;
		padding: 90px 39px 0px;
		text-align: center;
		background-size: contain;
		.icon{
			min-height: 63px;
			margin-bottom: 20px;
		}
		h3{
			font-size: 30px;
			line-height: 35px;
			// letter-spacing: 0.1em;
			color: $color_tundora2;
			margin-bottom: 15px;
		}
		ul{
			li{
				a{
					display: inline-block;
					word-break: break-all;
					font-size: 16px;
					line-height: 27px;
					color: $color_log_cabin;
					// letter-spacing: 0.030em;
					@include transition(all 0.3s ease-in-out);
					&:hover{
						color: $secondary-color-light;
					}
				}
			}
		}
	}
}

.tc-wrap{
	padding: 50px 0;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	.title{
		padding-top: 20px;
	}
	p{
		margin-bottom: 25px;
		color: rgba($color-black, 0.8);
		a{
			color: $secondary-color-light;
			display: inline;
			word-break: break-all;
		}
	}
	.bullet-list{
		li{
			margin-bottom: 20px;
			font-size: 15px;
			font-weight: 400;
		}
	}
}

.thankyou-pages-wrap{
	padding: 200px 0;
	.container{
		position: relative;
		z-index: 1;
	}
	.thankyou-page-text{
		font-size: 16px;
		line-height: 28px;
		// letter-spacing: 0.040em;
		p{
			margin-bottom: 25px;
			a{
				display: inline;
				color: $primary-color;
				text-decoration: underline;
				font-weight: 600;
			}
		}
		h3{
			color: $color_chambray;
			font-size: 56px;
			padding-bottom: 20px;
			// letter-spacing: 0.040em;
			span{
				display: inline;
				color: $secondary-color-light;
			}
		}
		.thankyou-contact{
			margin-bottom: 30px;
			h5{
				font-family: $primary-font;
				color: $color_tundora2;
				font-weight: 24px;
				font-weight: 600;
				padding-bottom: 5px;
				span{
					display: inline-block;
					font-size: 16px;
					font-weight: 500;
				}
			}
			a{
				color: $color_tundora2;
				font-size: 18px;
				font-weight: 700;
				&:hover{
					color: $secondary-color-light;
				}
			}
		}
	}
}

.wpcf7-response-output{
	display: none !important;
	&.wpcf7-validation-errors{
	}
}
.error404{
	.about-value-wrap{
		padding-top: 130px;
	}
}

.no-post{
	font-family: $primary-font;
	color: $color_error;
	font-size: 20px;
	font-weight: 500;
}

.banner-sub-title{
	color: $color_tundora2;
	font-family: $secondary-font;
	font-weight: 400;
	font-size: 40px;
	line-height: 46px;
	// letter-spacing: 0.040em;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}

.cto-message-wrap{
	padding: 60px 0;
	.cto-message{
		max-width: 826px;
		margin: 0 auto;
		text-align: center;
		p{
			font-size: 20px;
			line-height: 32px;
			font-style: italic;
			color: rgba($color_tundora2, .82);
		}
		.cto-name{
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 20px;
			font-weight: 600;
			color: $color_tundora2;
			padding-top: 10px;
			.img{
				margin-right: 13px;
				max-width: 61px;
				@include border-radius(100%);
				position: relative;
				&:after{
					content: "";
					background: url(../images/dot-grid.png);
					width: 100%;
					height: 100%;
					position: absolute;
					right: 6px;
					top: 2px;
					@include border-radius(100%);
				}
			}
			img{
				max-width: 61px;
				position: relative;
				z-index: 1;
				@include border-radius(100%);
				@include box-shadow(0 2px 3px rgba($color-black, .16));
			}
		}
	}
}

.dashboard-key-feature-wrap{
	padding: 60px 0;
	.dash-key-feature-list{
		> ul{
			> li{
				margin-bottom: 60px;
				font-size: 16px;
				line-height: 28px;
				color: $color_mine_shaft;
				h3{
					font-size: 40px;
					font-weight: 700;
					letter-spacing: 0.040em;
					line-height: 50px;
					color: $color_chambray;
					margin-bottom: 20px;
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}

.demo-modal{
	.modal-header{
		padding-bottom: 0;
		border-bottom: 0;
		display: block;
		overflow: hidden;
		position: relative;
		.close{
			position: absolute;
			right: -20px;
			top: -20px;
			width: 60px;
			height: 60px;
			background: $secondary-color-light;
			opacity: 1;
			color: $color-white;
			margin: 0;
			padding-left: 5px;
    		padding-bottom: 9px;
			@include border-radius(100%);
			font-size: 15px;
			text-shadow: none;
			&:hover{
				opacity: 1;
			}
		}
	}
	.modal-body{
		padding: 2rem;
	}
	.modal-title{
		color: $color_chambray;
		font-size: 40px;
		font-weight: 700;
		letter-spacing: 0.040em;
		line-height: 50px;
		text-align: center;
	}
}