// ================================================================================================
// 	Version: 1.0
// ================================================================================================
html {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100%;
}

input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
// input[type="password"]{
// 	font-size: 30px !important;
// }

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	// cursor: none;
	&:after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	&:before {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: $primary-font;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	width: 100%;
	height: 100%;
	font-weight: 400;
	color: $body-color;
	background: #ffffff;
	overflow-x: hidden !important;
}

a {
	outline: none;
	text-decoration: none;
	color: $color_storm_dust;
	&:hover {
		text-decoration: none;
		outline: none;
		outline-offset: 0;
		color: $color_storm_dust;
	}
	&:focus {
		text-decoration: none;
		outline: none;
		outline-offset: 0;
		color: $color_storm_dust;
	}
}

img {
	border: 0;
	max-width: 100%;
	height: auto;
}

input {
	outline: none;
	resize: none;
	box-shadow: none;
	font-family: $primary-font;
}

textarea {
	outline: none;
	resize: none;
	box-shadow: none;
	font-family: $primary-font;
}

select {
	outline: none;
	resize: none;
	box-shadow: none;
	font-family: $primary-font;
}

*::-moz-selection {
	background-color: #FDCDD2;
	color: #222222;
}

*::selection {
	background-color: #FDCDD2;
	color: #222222;
}
::-webkit-scrollbar {
	width:8px;
}
::-webkit-scrollbar-track {
	background: #ffffff;
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
	-moz-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
	box-shadow:inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-thumb {
	background: #EA5351;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #EA5351;
}

button {
	box-shadow: none;
	cursor: pointer;
	&::-moz-focus-inner {
		border: 0;
	}
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	margin: 0;
	font-weight: normal;
	font-family: $secondary-font;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	margin: 0 0 10px 0;
	padding: 0;
}
button:focus{
	outline: none;
}
.svg {
	path {
		@include transition(all 0.3s ease-in-out);
	}
}
.container {
	max-width: 1230px;
	margin: 0 auto;
	width: 100%;
	.container-small{
		padding: 0;
		max-width: 940px;
	}
}
.container-small {
	max-width: 970px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}

.primary-font{
	font-family: $primary-font;
}
.secondary-font{
	font-family: $secondary-font;
}
.bg-light-blue{
	background-color: rgba(223, 228, 255, 0.18);
}

.slick-slider{
	user-select: text;
}

.pre-loader{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url(../images/new-loader.gif) $color-white;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 999999;
}

.modal-backdrop{
	z-index: 10405;
}
.modal{
	z-index: 10505;
}