.blog-list-wrap{
	padding: 70px 0;
}

.blog-categories-search{
	border-top: 1px solid #D1D1D1;
	border-bottom: 1px solid #D1D1D1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 53px;
	margin-bottom: 40px;
	.left{
		width: 60%;
		.dropdown-toggle{
			padding: 15px 0;
			background: transparent;
			border: 0;
			box-shadow: none;
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
			cursor: pointer;
			color: $color_chambray;
		}
		.dropdown-menu{
			border-radius: 0;
			border: 0;
			margin-top: 0;
			@include box-shadow(0 0px 26px rgba($color-black, .09));
			padding: 0;
			min-width: 280px;
			ul{
				li{
					a{
						display: block;
						padding: 8px 15px;
						font-size: 14px;
						font-weight: 600;
						text-transform: uppercase;
						color: $color_chambray;
						@include transition(all 0.5s);
						&:hover{
							background: rgba($color_chambray, 0.15);
						}
					}
				}
			}
		}
	}
	.right{
		width: 40%;
		.search{
			float: right;
			width: 20px;
			height: 53px;
			position: relative;
			@include transition(all 0.5s);
			margin-top: -1px;
			a{
				position: absolute;
				left: 0px;
				top: 14px;
				color: $color_chambray;
				font-size: 16px;
				@include transition(all 0.5s);
			}
			&.open{
				width: 300px;
				a{
					left: 10px;
				}
				.search-fild{
					width: 100%;
					padding: 0 15px 0 40px;
					background: $color-white;
					// border: 1px solid $color_chambray;
					@include box-shadow(0 0px 26px rgba($color-black, .15));
					@include transition(all 0.5s);
				}
			}
			.search-fild{
				max-width: 300px;
				width: 0;
				float: right;
				height: 53px;
				font-weight: 400;
				border: 1px solid transparent;
				background: transparent;
				color: $color_chambray;
				font-size: 16px;
				@include border-radius(0);
				@include transition(all 0.5s);
			}
		}
	}
}

.blog-list{
	ul{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		li{
			width: 33.33%;
			max-width: 100%;
			margin-bottom: 55px;
			padding: 0 15px;
			&.large{
				width: 65.3%;
				max-width: 784px;
				.thumb-image{
					max-width: 784px;
				}
				.thumb-text{
					max-width: 784px;
				}
			}
			&:hover{
				.thumb-image{
					@include transform(translate(0px, -15px));
					@include box-shadow(0 0px 30px rgba($color_chambray, .4));
				}
				.thumb-text{
					h4{
						a{
							color: $color_chambray;
						}
					}
				}
			}
		}
	}
	.thumb-image{
		height: 340px;
		max-width: 366px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		@include transition(all 0.5s);
	}
	.thumb-text{
		padding: 20px 15px 0;
		max-width: 366px;
		h4{
			font-family: $primary-font;
			font-size: 18px;
			font-weight: 600;
			line-height: 28px;
			color: $color_tundora2;
			margin-bottom: 15px;
			a{
				color: $color_tundora2;
				display: inline-block;
				@include transition(all 0.5s);
			}
		}
	}
}
.article-details{
	font-size: 14px;
	font-weight: 500;
	color: #9A9A9A;
	a, span{
		display: inline-block;
		vertical-align: middle;
		color: #9A9A9A;
	}
	.separator{
		margin: 0 6px;
	}
}
.related-title{
	font-family: $primary-font;
	font-size: 24px;
	font-weight: 600;
	color: $color_tundora2;
	margin-bottom: 40px;
}

.blog-detail-desc{
	padding-top: 160px;
	.blog-detail-container{
		max-width: 810px;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		position: relative;
		.left-share{
			position: absolute;
			left: -200px;
			top: 0;
			.share-box{
				text-align: center;
				> span{
					text-transform: uppercase;
				}
			}
			.social-icon{
				ul{
					display: block;
					li{
						margin-right: 0;
					}
				}
			}
		}
		.blog-detail-title{
			text-align: center;
			padding-bottom: 30px;
			h3{
				font-size: 30px;
				font-weight: 500;
				color: $color_log_cabin;
				margin-bottom: 20px;
			}
		}
		h1,h2,h3,h4,h5,h6{
			font-family: $primary-font
		}
		.detail-banner-img{
			padding-bottom: 30px;
		}
		.desc{
			font-size: 16px;
			font-weight: 400;
			// letter-spacing: 0.040em;
			line-height: 27px;
			p{
				margin-bottom: 25px;
				color: rgba($color-black, 0.8);
				a{
					color: $color_chambray;
					display: inline;
					word-break: break-all;
				}
			}
			h2{
				font-size: 26px;
				font-weight: 600;
				margin-bottom: 25px;
				color: rgba($color-black, 0.9);
			}
			h3{
				font-size: 22px;
				font-weight: 600;
				margin-bottom: 25px;
				color: rgba($color-black, 0.9);
			}
			h4{
				font-size: 18px;
				font-weight: 600;
				margin-bottom: 25px;
				color: rgba($color-black, 0.9);
			}
			.bullet-list{
				li{
					margin-bottom: 20px;
					padding-top: 5px;
					font-weight: 400;
				}
			}
			> ol{
				margin: 0 0 20px;
				padding-left: 0px;
				counter-reset: my-badass-counter;
				> li{
					position: relative;
					padding-left: 40px;
					margin-bottom: 20px;
					> ol{
						counter-reset: my-badass-counter;
						padding-top: 15px;
						> li{
							padding-left: 25px;
							position: relative;
							margin-bottom: 15px;
							&:before{
								content: counter(my-badass-counter, lower-alpha);
								counter-increment: my-badass-counter;
								position: absolute;
								left: 0;
								top: 0;
								color: $secondary-color-light;
								text-transform: uppercase;
								font-weight: 600;
							}
							> ol{
								counter-reset: my-badass-counter;
								padding-top: 20px;
								> li{
									padding-left: 25px;
									position: relative;
									margin-bottom: 9px;
									&:before{
										content: counter(my-badass-counter, lower-roman);
										counter-increment: my-badass-counter;
										position: absolute;
										left: 0;
										top: 0;
										color: $secondary-color-light;
										font-weight: 600;
									}
								}
							}
						}
					}
					&:before{
						content: counter(my-badass-counter);
						counter-increment: my-badass-counter;
						position: absolute;
						left: 0;
						top: 0;
						color: $secondary-color-light;
						width: 30px;
						height: 30px;
						background: rgba($secondary-color-light, 0.1);
						text-align: center;
						line-height: 30px;
						font-weight: 600;
						@include border-radius(100%);
					}
				}
			}
		}
		.blog-footer-share{
			padding: 20px 0;
			border-top: 1px solid rgba($color_chambray, 0.15);
			border-bottom: 1px solid rgba($color_chambray, 0.15);
			display: flex;
			align-items: center;
			> span{
				font-size: 14px;
				font-weight: 600;
				text-transform: uppercase;
				color: $color_chambray;
				margin-right: 30px;
				display: inline-block;
			}
		}
	}
	.blog-detail-pagination{
		a{
			display: inline-block;
			font-size: 16px;
			line-height: 30px;
			font-weight: 500;
			padding-top: 30px;
			padding-bottom: 30px;
			color: $color_tundora2;
			position: relative;
			@include transition(color 0.3s);
			&:hover{
				color: $color_chambray;
			}
		}
		.prev{
			border-right: 1px solid rgba($color_chambray, 0.15);
		}
		.next{
			a{
				text-align: right;
			}
		}
	}
}


.comment-wrap{
	padding: 60px 0;
	.container{
		max-width: 810px;
	}
	.commentlist{
		padding-bottom: 30px;
		li{
			border-bottom: 1px solid rgba($color_chambray, 0.15);
			font-size: 16px;
			line-height: 28px;
			margin-bottom: 30px;
			&:last-child{
				border: 0;
			}
			.children{
				margin-left: 40px;
				padding-top: 15px;
				margin-top: 15px;
				border-top: 1px solid rgba($color_chambray, 0.15);
				li{
					&:last-child{
						border: 0;
					}
				}
				.comment-box{
					padding-left: 15px;
					border-left: 2px solid rgba($color_chambray, 0.25);
				}
			}
		}
		.fn{
			font-size: 18px;
			font-weight: 600;
			color: $color_log_cabin;
			margin-bottom: 10px;
			font-style: normal;
		}
	}
	.form-wrap{
		.cta-btn{
			.cta-link{
				max-width: 220px;
			}
		}
	}
}

@media (max-width: 1280px) {
	.blog-detail-desc{
		.blog-detail-container{
			.left-share{
				left: -80px;
			}
		}
	}
}

@media (max-width: 1024px) {
	.blog-list{
		.thumb-image{
			height: 290px;
		}
	}
	.blog-detail-desc{
		.blog-detail-container{
			.left-share{
				display: none;
			}
		}
	}
}
@media (max-width: 991px) {
	.blog-list{
		ul{
			justify-content: space-around;
			li{
				width: 48.5%;
				&.large{
					width: 48.5%;
					max-width: 366px;
				}
			}
		}
		.thumb-image{
			height: 290px;
		}
	}
}
@media (max-width: 767px) {
	.blog-detail-desc{
		.blog-detail-container{
			.blog-footer-share{
				display: block;
				> span{
					margin-bottom: 15px;
				}
			}
			.desc{
				h2{
					font-size: 22px;
					line-height: 30px;
				}
				h3{
					font-size: 20px;
					line-height: 28px;
				}
				h4{
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
	}
}

@media (max-width: 550px) {
	.blog-list{
		ul{
			li{
				width: 100%;
				max-width: 100%;
				margin-bottom: 25px;
				&.large{
					width: 100%;
					max-width: 100%;
				}
			}
		}
		.thumb-image{
			height: 290px;
			max-width: 100%;
		}
		.thumb-text{
			max-width: 100%;
		}
	}
}