.dash-board{
	position: relative;
	height: 100%;
	background: rgba($color_chambray, 0.05);
}

.dash-sidebar{
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 260px;
	background: $color_chambray;
	//background: $color-white;
	z-index: 123;
	@include box-shadow(0px 0px 15px rgba($color_chambray, 0.05));
	.dash-logo{
		color: $color-white;
		font-family: $secondary-font;
		font-size: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 35px;
		// letter-spacing: 0.03em;
		padding: 19px 0;
		margin-bottom: 30px;
		img{
			width: 49px;
		}
		.brand-name{
			padding-top: 4px;
			padding-left: 8px;
			@include transition(all 0.3s ease-in-out);
		}
	}
	.dash-menu{
		overflow: auto;
		height: calc(100vh - 133px);
		padding-bottom: 30px;
		ul{
			li{
				padding-bottom: 10px;
				a{
					display: block;
					color: $color_melrose;
					font-size: 15px;
					font-weight: 400;
					// letter-spacing: 0.050em;
					padding: 12px 10px 13px 60px;
					text-transform: capitalize;
					position: relative;
					@include transition(all 0.3s ease-in-out);
					&:before{
						content: "";
						width: 4px;
						height: 0px;
						left: 0;
						bottom: 0;
						position: absolute;
						@include transition(all 0.3s ease-in-out);
						background: $secondary-color-light;
					}
					.icon{
						position: absolute;
						left: 20px;
						top: 50%;
						margin-top: -15px;
						.svg{
							width: 30px;
							height: 30px;
						}
					}
					&:hover{
						color: $color-white;
						.icon{
							.svg{
								path{
									fill: $color-white;
								}
							}
						}
						&:before{
							bottom: inherit;
							top: 0;
							height: 100%;
						}
					}
				}
				&.active{
					a{
						color: $color-white;
						background: rgba($color_melrose, 0.1);
						.icon{
							.svg{
								path{
									fill: $color-white;
								}
							}
						}
						&:before{
							bottom: inherit;
							top: 0;
							height: 100%;
						}
					}
				}
			}
		}
		> .cta-btn{
			display: none;
			text-align: center;
			.cta-link{
				display: inline-flex;
			}
		}
	}
	.dash-sidebar-toggle{
		position: absolute;
		width: 40px;
		height: 40px;
		right: 0;
		top: 0;
		a{
			display: block;
			color: $color-white;
			font-size: 20px;
			line-height: 40px;
			text-align: center;
		}
	}
}

.dash-topbar{
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100% - 260px);
	height: 60px;
	background: $color-white;
	z-index: 123;
	@include box-shadow(0px 0px 15px rgba($color_chambray, 0.05));
	display: flex;
	justify-content: space-between;
	.left{
		display: flex;
		align-items: center;
		.dash-logo{
			background: $color_chambray;
			height: 60px;
			width: 60px;
			.icon{
				padding-top: 3px;
				img{
					width: 40px;
					margin: 0 auto;
					display: block;
				}
			}
		}
		.dash-sidebar-toggle{
			padding-left: 6px;
			a{
				display: inline-block;
				padding: 10px;
				color: $color_chambray;
				font-size: 28px;
				line-height: 28px;
			}
		}
	}
	.right{
		> ul{
			display: flex;
			justify-content: flex-end;
			flex: 0 0 100%;
			.cta-btn{
				padding-right: 15px;
				padding-top: 12px;
			}
			.user-dropdown{
				border-left: 2px solid rgba($color_melrose, 0.5);
				&.show{
					.dropdown-toggle{
						&:before{
							height: 3px;
						}
					}
				}
				.dropdown-toggle{
					padding: 18px 12px;
					display: block;
					cursor: pointer;
					color: $color_chambray;
					.svg{
						width: 20px;
						height: 20px;
					}
					&:before{
						content: "";
						width: 100%;
						height: 0;
						left: 0;
						bottom: 0;
						position: absolute;
						background: $secondary-color-light;
						@include transition(all 0.3s ease-in-out);
					}
					&:after{
						vertical-align: middle;
					}
				}
				.dropdown-menu{
					@include box-shadow(0px 0px 15px rgba($color_chambray, 0.1));
					border: 0;
					padding: 8px 15px;
					min-width: 12rem;
					a{
						font-size: 15px;
						// letter-spacing: 0.030em;
						font-weight: 400;
						color: rgba($color_chambray, 1);
						display: block;
						padding: 8px 0;
						border-bottom: 1px solid rgba($color_chambray, 0.10);
						&:last-child{
							border: 0;
						}
						&.logout{
							color: $secondary-color-light;
							font-weight: 500;
						}
					}
				}
			}
			.notification-dropdown{
				border-left: 2px solid rgba($color_melrose, 0.5);
				&.show{
					.dropdown-toggle{
						&:before{
							height: 3px;
						}
					}
				}
				.dropdown-toggle{
					padding: 18px 12px;
					display: block;
					cursor: pointer;
					color: $color_chambray;
					position: relative;
					&:before{
						content: "";
						width: 100%;
						height: 0;
						left: 0;
						bottom: 0;
						position: absolute;
						background: $secondary-color-light;
						@include transition(all 0.3s ease-in-out);
					}
					.svg{
						width: 20px;
						height: 20px;
					}
					.badge{
						color: $secondary-color-light;
						font-size: 14px;
						padding-left: 0;
						padding-right: 0;
					}
					&:after{
						vertical-align: middle;
					}
				}
				.dropdown-menu{
					@include box-shadow(0px 0px 15px rgba($color_chambray, 0.1));
					border: 0;
					padding: 8px 15px;
					min-width: 300px;
					max-width: 300px;
					.list-group{
						li{
							padding: 0;
						}
					}
					a{
						font-size: 12px;
						// letter-spacing: 0.030em;
						font-weight: 400;
						color: rgba($color_chambray, 1);
						display: block;
						padding: 15px 0;
						border-bottom: 1px solid rgba($color_chambray, 0.10);
						strong{
							font-size: 14px;
							font-weight: 600;
							padding-right: 5px;
						}
						&:last-child{
							border: 0;
						}
						p{
							margin: 0;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}
					.logout{
						a{
							color: $secondary-color-light;
							text-align: center;
						}
					}
				}
			}
		}
	}
}


.dash-wrap{
	padding: 40px 30px 40px 290px;
	height: calc(100% - 60px);
	overflow: auto;
	position: relative;
	top: 60px;
}
.dash-wrap-header{
	padding-bottom: 30px;
	h1{
		font-family: $primary-font;
		font-size: 22px;
		color: $color_chambray;
		font-weight: 500;
		// letter-spacing: 0.040em;
	}
}
.project-filter{
	// margin-bottom: -36px;
	position: relative;
	z-index: 1;
	display: inline-block;
	label{
		font-weight: 500;
		font-size: 15px;
		color: $color_chambray;
		padding-right: 10px;
	}
	.bootstrap-select{
		.dropdown-menu{
			padding: 0;
			@include box-shadow(0px 0px 15px rgba($color_chambray, 0.1));
			border: 0;
		}
		> .dropdown-toggle{
			box-shadow: none !important;
			outline: none !important;
			background: $color-white;
			font-size: 15px;
			font-weight: 500;
			// letter-spacing: 0.030em;
			color: rgba($color_chambray, 0.9) !important;
			border: 1px solid rgba($color_melrose, 0.6);
			padding: .5rem .75rem;
			&:active{
				background: $color-white;
				border: 1px solid rgba($color_melrose, 0.6);
			}
		}
		.dropdown-item{
			padding: 8px 15px;
			font-size: 14px;
			font-weight: 500;
			// letter-spacing: 0.030em;
			&.active{
				background: rgba($color_melrose, 0.25);
				color: $color_chambray;
			}
			&:active{
				background: $color-white;
				color: $color_chambray;
			}
		}
	}
}
.text-warning {
    color: #ff9707!important;
}
.project-table{
	margin-top: -40px;
}
.dataTables_wrapper{
	.dataTable{
		border: 1px solid rgba($color_melrose, 0.6);
		@include box-shadow(0px 0px 25px rgba($color_chambray, 0.1));
		@include border-radius(5px);
		overflow: hidden;
		&.no-footer{
			border: 1px solid rgba($color_melrose, 0.6);
		}
		th{
			border-top: 0;
			border-bottom: 0;
			font-weight: 600;
			font-size: 14px;
			line-height: 18px;
			// letter-spacing: 0.030em;
			color: $color_chambray;
			white-space: nowrap;
			text-transform: uppercase;
		}
		td{
			border-bottom: 1px solid rgba($color_melrose, 0.6);
			border-top: 0;
			font-size: 14px;
			font-weight: 500;
			outline: none;
			color: rgba($color_chambray, 0.9);
			vertical-align: middle;
			&.fav-star{
				font-size: 30px;
				padding: 10px 18px;
				line-height: 30px;
				i{
					cursor: pointer;
					&.active{
						color: $secondary-color-light;
						&:before{
							content: "\f005";
						}
					}
				}
			}
			&.p-order-id{
				a{
					color: rgba($color_chambray, 0.9);
					font-weight: 600;
				}
			}
		}
		thead{
			background: rgba($color_chambray, 0.1);
		}
		tbody{
			tr{
				&:last-child{
					td{
						border-bottom: 0;
					}
				}
			}
		}
	}
	.dataTables_filter{
		padding-bottom: 14px;
		label{
			margin-bottom: 0;
			width: 324px;
			position: relative;
			&:after{
				content: "\f002";
				height: 100%;
				width: 35px;
				top: 0;
				right: 0;
				border-left: 1px solid rgba($color_melrose, 0.6);
				background: rgba($color_chambray, 0.1);
				color: $color_chambray;
				line-height: 40px;
				text-align: center;
				font-family: "FontAwesome";
				font-size: 15px;
				position: absolute;
			}
		}
		input{
			margin-left: 0 !important;
			height: 40px;
			width: 100% !important;
			padding-right: 45px;
			border: 1px solid rgba($color_melrose, 0.6);
			box-shadow: none;
		}
	}
	.dataTables_info{
		float: none;
		text-align: right;
		color: rgba($color_chambray, 0.8);
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		// letter-spacing: 0.030em;
	}
	.dataTables_paginate{
		float: none;
		padding-top: 10px;
		.paginate_button{
			width: 35px;
			height: 35px;
			margin: 3px 5px;
			&.previous{
				.page-link{
					font-size: 0;
					background: $color-white;
					position: relative;
					&:before{
						content: "\f104";
						font-family: "FontAwesome";
						font-size: 16px;
						font-size: 22px;
						line-height: 35px;
						width: 100%;
						height: 100%;
						left: 0;
						position: absolute;
					}
				}
			}
			&.next{
				.page-link{
					font-size: 0;
					background: $color-white;
					position: relative;
					&:before{
						content: "\f105";
						font-family: "FontAwesome";
						font-size: 16px;
						font-size: 22px;
						line-height: 35px;
						width: 100%;
						height: 100%;
						left: 0;
						position: absolute;
					}
				}
			}
		}
		.page-item{
			&.active{
				.page-link{
					background: rgba($color_melrose, 0.5);
					border: 1px solid rgba($color_melrose, 1);
				}
			}
		}
		.page-link{
			padding: 0 2px;
			line-height: 35px;
			text-align: center;
			border: 1px solid rgba($color_melrose, 0.6);
			@include border-radius(4px !important);
			box-shadow: none;
			background: $color-white;
			color: rgba($color_chambray, 0.9);
			font-size: 14px;
			font-weight: 600;
		}
	}
	ul{
		&.dtr-details{
			display: block !important;
		}
	}
}

.add-maintenance-dropdown{
	.dropdown-toggle{
		display: inline-block;
		padding: 8px 15px;
		background: $secondary-color-light;
		color: $color-white;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 500;
		// letter-spacing: 0.030em;
		@include border-radius(4px);
	}
	.dropdown-menu{
		@include box-shadow(0px 0px 15px rgba($color_chambray, 0.1));
		border: 0;
		padding: 8px 0px;
		min-width: 14rem;
		a{
			display: block;
			padding: 8px 15px;
			font-size: 14px;
			font-weight: 500;
			// letter-spacing: 0.030em;
			color: $color_chambray;
		}
	}
}
.dash-box{
	@include box-shadow(0px 0px 15px rgba($color_chambray, 0.1));
	background: $color-white;
	border: 1px solid rgba($color_melrose, 0.6);
	@include border-radius(5px);
	&.change-password-box{
		padding: 30px;
	}
	.dash-box-header{
		background: $color-box-header;
		padding: 15px;
		color: $color_chambray;
		font-size: 16px;
		font-weight: 500;
		// letter-spacing: 0.030em;
	}
}
.dash-form-wrap{
	label{
		font-size: 11px;
		text-transform: uppercase;
		// letter-spacing: 0.050em;
		font-weight: 600;
		color: rgba($color_chambray, 0.85);
	}
	.form-group{
		> label{
			display: block;
		}
	}
	.form-control{
		height: 50px;
		font-size: 14px;
		// letter-spacing: 0.040em;
		color: rgba($color_chambray, 1);
		font-weight: 500;
		background: rgba($color_melrose, 0.15);
		border: 1px solid rgba($color_chambray, 0.4);
		box-shadow: none;
		&::-webkit-input-placeholder {
			color: rgba($color_chambray, 0.55);
			opacity: 1;
		}
		&:-moz-placeholder {
			color: rgba($color_chambray, 0.55);
			opacity:1;
		}
		&::-moz-placeholder {
			color: rgba($color_chambray, 0.55);
			opacity:1;
		}
		&:-ms-input-placeholder {
			color: rgba($color_chambray, 0.55);
			opacity:1;
		}
	}
	textarea{
		&.form-control{
			padding-top: 15px;
			height: 200px;
		}
	}
	.bootstrap-select{
		> .dropdown-toggle{
			height: 50px;
			background: transparent !important;
			outline: none !important;
			box-shadow: none !important;
			border: 0;
			font-size: 14px;
			// letter-spacing: 0.040em;
			color: rgba($color_chambray, 1);
			font-weight: 500;
			&.bs-placeholder{
				color: rgba($color_chambray, 0.55);
			}
		}
		.dropdown-menu{
			padding: 0;
			@include box-shadow(0px 0px 20px rgba($color_chambray, 0.2));
			border: 0;
			min-width: 100% !important;
		}
		.dropdown-item{
			padding: 8px 15px;
			font-size: 14px;
			font-weight: 500;
			// letter-spacing: 0.030em;
			color: $color_chambray;
			white-space: normal;
			&.active{
				background: rgba($color_melrose, 0.25);
				color: $color_chambray;
			}
			&:active{
				background: $color-white;
				color: $color_chambray;
			}
		}
	}
	.select-phone-no{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.bootstrap-select{
			width: 65px !important;
		}
		input.form-control{
			width: calc(100% - 85px);
		}
	}
}
.profile-box-space{
	background: $color-box-header;
	height: 140px;
	border-bottom: 1px solid rgba($color_chambray, 0.2);
}
.profile-box{
	padding: 0 20px 30px;
	max-width: 660px;
	margin: 0 auto 0;
	.profile-photo{
		padding-bottom: 20px;
	}
	.photo-box{
		width: 132px;
		height: 132px;
		border: 7px solid $color-white;
		@include border-radius(100%);
		margin: -104px auto 0;
		position: relative;
		img{
			@include border-radius(100%);
		}
		.edit-avatar{
			position: absolute;
			right: 0;
			bottom: 0;
			width: 42px;
			height: 42px;
			background: $color_chambray;
			border: 4px solid $color-white;
			@include border-radius(100%);
			text-align: center;
			color: $color-white;
			line-height: 34px;
		}
	}
	.profile-name{
		padding-top: 10px;
		text-align: center;
		font-size: 22px;
		font-weight: 600;
		color: rgba($color_chambray, 0.9);
	}
}
.avatar-popup{
	.modal-title{
		font-family: $primary-font;
		color: $color_chambray;
		font-weight: 500;
		font-size: 19px;
	}
	.btn-primary{
		background: $color_chambray;
		border-color: $color_chambray;
	}
	.btn{
		box-shadow: none !important;
	}
}

.profile-picture-wrap{
	text-align: center;
	.actions{
		padding-bottom: 15px;
	}
	.file-btn{
		position: relative;
		cursor: pointer;
		line-height: 40px;
		padding-top: 0;
		padding-bottom: 0;
		height: 40px;
		border-radius: 3px;
		background: $color_chambray;
		color: $color-white !important;
		cursor: pointer;
		input[type="file"]{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
		}
	}
	.croppie-container{
		.cr-slider-wrap{
			width: 100%;
			max-width: 300px;
		}
	}
}


.dash-project-detail-wrap{
	display: flex;
	flex-wrap: wrap;
	> .left{
		width: calc(100% - 280px);
		padding-right: 30px;
		.manager-chat{
			padding: 30px;
			.chat-box{
				max-width: 740px;
				margin: 0 auto;
				.chat-discussion{
					margin-bottom: 30px;
					list-style-type: none;
					max-height: 500px;
					overflow: auto;
					> li{
						border: 1px solid #E2E6FA;
						padding: 12px 20px;
						font-size: 15px;
						color: #535A81;
						font-family: $primary-font;
						.manager-name-date{
							display: flex;
							align-items: center;
							.m-name{
								font-size: 16px;
								color: #535A81;
								font-weight: 600;
							}
							.date{
								font-size: 12px;
								font-weight: 500;
								color: #B2B5C7;
								padding: 0 15px;
							}
						}
						&.pm{
							background: rgba(226, 229, 240, 0.23);
						}
						&.client{
							// text-align: right;
							.manager-name-date{
								flex-direction: row-reverse;
							}
							.text{
								float: right;
								max-width: 95%;
								margin-left: auto;
							}
							&:after{
								content: "";
								display: table;
								clear: both;
							}
						}
					}
					ul{
						list-style-type: disc;
						padding-left: 15px;
					}
					ol{
						list-style-type: decimal;
						padding-left: 15px;
					}
				}
				ul{
					list-style-type: disc;
				}
				ol{
					list-style-type: decimal;
				}
				.chat-buttons{
					padding-top: 30px;
					.chat-cancel{
						background: none;
						border: 0;
						color: $primary-color;
						font-size: 16px;
						margin-right: 15px;
						cursor: pointer;
					}
				}
			}
		}
		.dash-project-info-detail{
			padding: 30px 30px 10px;
			&-top{
				padding-bottom: 20px;
				display: flex;
				justify-content: space-between;
				.top-left{
					padding-right: 15px;
					h1{
						font-family: $primary-font;
						font-size: 22px;
						font-weight: 600;
						color: $color_chambray;
					}
					.dash-package-info{
						padding-top: 2px;
						color: rgba($color_chambray, 0.7);
						font-weight: 500;
						span{
							color: $color_chambray;
							font-size: 14px;
							font-weight: 600;
						}
					}
				}
				.top-right{
					font-size: 20px;
					font-weight: 600;
					color: $color_chambray;
				}
			}
			.dash-project-info-list{
				ul{
					display: flex;
					flex-wrap: wrap;
					margin: 0 -15px;
					li{
						width: 33.33%;
						padding: 0 15px;
						margin-bottom: 20px;
						font-size: 13px;
						font-weight: 500;
						color: rgba($color_chambray, 0.85);
						word-break: break-all;
						> a{
							color: rgba($color_chambray, 0.85);
						}
						strong{
							display: block;
							font-weight: 600;
							// letter-spacing: 0.040em;
							text-transform: uppercase;
							color: $color_chambray;
							font-size: 13px;
							margin-bottom: 2px;
						}
					}
				}
			}
		}
		.project-files-list{
			background: rgba($color-box-header, 0.7);
			padding: 20px 30px 10px;
			&-title{
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 600;
				color: $color_chambray;
				// letter-spacing: 0.030em;
				padding-bottom: 10px;
			}
			ul{
				li{
					position: relative;
					font-size: 14px;
					font-weight: 500;
					// letter-spacing: 0.030em;
					color: $color_chambray;
					padding-left: 20px;
					padding-bottom: 5px;
					&:before{
						content: "\f0c6";
						font-family: "FontAwesome";
						position: absolute;
						left: 0;
						top: 0;
					}
				}
			}
		}
	}
	> .right{
		width: 280px;
		.manage-meeting{
			padding-bottom: 10px;
			a{
				display: block;
				padding: 12px 42px 12px 22px;
				font-size: 15px;
				font-weight: 500;
				color: $color_chambray;
				border: 1px solid $color_chambray;
				position: relative;
				&:after{
					content: "\f105";
					font-family: "FontAwesome";
					font-size: 24px;
					line-height: 18px;
					top: 50%;
					margin-top: -10px;
					right: 20px;
					position: absolute;
				}
			}
		}
		.project-progress-step{
			margin-top: 6px;
			.dash-step-list{
				padding: 20px;
				ul{
					li{
						color: rgba($color_chambray, 1);
						font-size: 14px;
						font-weight: 500;
						// letter-spacing: 0.030em;
						margin-bottom: 15px;
						padding-bottom: 8px;
						border-bottom: 1px solid rgba($color_chambray, 0.5);
						&:last-child{
							margin-bottom: 0;
						}
						span{
							display: block;
							text-transform: uppercase;
							font-weight: 400;
							font-size: 12px;
						}
						&.done{
							opacity: 0.5
						}
						&.active{
							color: $secondary-color-light;
							border-color: $secondary-color-light;
							border-width: 2px;
						}
					}
				}
			}
		}
		.dash-feedback{
			padding: 20px;
			.dash-form-wrap{
				textarea{
					&.form-control{
						height: 100px;
					}
				}
			}
		}
		.co-worker-list{
			border-bottom: 1px solid $color-box-header;
			padding: 5px 20px;
			ul{
				display: flex;
				flex-wrap: wrap;
				li{
					width: 54px;
					margin: 5px 0;
					padding: 0 5px;
					a{
						position: relative;
						width: 44px;
						height: 44px;
						@include border-radius(100%);
						display: block;
						img{
							@include border-radius(100%);
							width: 100%;
						}
						&:hover{
							.remove{
								opacity: 1;
							}
						}
						.remove{
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							@include border-radius(100%);
							background: rgba($color-black, 0.6);
							color: $secondary-color-light;
							font-size: 20px;
							line-height: 44px;
							text-align: center;
							opacity: 0;
							@include transition(all 0.3s ease-in-out);
						}
					}
				}
			}
		}
	}
	&.maintenance-detail-wrap{
		> .left{
			width: 100%;
			padding-right: 0;
		}
		.dash-project-info-detail{
			.dash-project-info-list{
				ul{
					li{
						width: 25%;
					}
				}
			}
		}
	}
}


.hours-total-boxes{
	padding-bottom: 30px;
	> div{
		margin: 0 -15px;
		> div{
			padding: 0 15px;
		}
	}
	.hours-total-boxe{
		width: 260px;
		height: 220px;
		background: $color-white;
		margin: 30px auto 0;
		position: relative;
		@include box-shadow(0px 0px 25px rgba($color_chambray, 0.1));
		@include border-radius(10px 20px 20px 20px);
		padding: 30px;
		&:before{
			content: "";
			height: 30px;
			width: 130px;
			top: -20px;
			left: 0;
			background: $color-white;
			position: absolute;
			@include border-radius(20px 2px 0px 0px);
		}
		&:after{
			content: "";
			width: 30px;
			height: 30px;
			position: absolute;
			left: 112px;
			top: -15px;
			background: $color-white;
			@include border-radius(2px 5px 5px 0px);
			@include transform-rotate(-40deg);
		}
		.hours{
			font-size: 50px;
			line-height: 60px;
			// letter-spacing: 0.020em;
			font-weight: 600;
			color: $color_chambray;
		}
		.hours-title{
			position: absolute;
			bottom: 30px;
			left: 30px;
			font-size: 17px;
			font-weight: 500;
			color: $color_chambray;
		}
	}
}

div.dataTables_wrapper div.dataTables_info{
	white-space: normal;
}
.bootstrap-select .dropdown-toggle .filter-option{
	height: auto;
}
.bootstrap-select>.dropdown-toggle:after{
	position: absolute;
	right: 5px;
	top: 50%;
	@include transform(translate(0px, -50%));
}


// dashboard media
@media (min-width: 1200px){
	.dash-sidebar{
		left: 0;
		.dash-sidebar-toggle{
			display: none;
		}
	}
	.dash-topbar{
		.left{
			.dash-logo{
				display: none;
			}
			.dash-sidebar-toggle{
				display: none;
			}
		}
	}
}

@media (max-width: 1200px){
	.dash-sidebar{
		left: -270px;
		z-index: 1234;
		@include transition(all 0.3s ease-in-out);
		&.sidebar-open{
			left: 0;
		}
		.dash-menu{
			> .cta-btn{
				display: block;
			}
		}
		.dash-logo{
			margin-bottom: 15px;
			margin-top: 15px;
		}
	}
	.dash-topbar{
		width: 100%;
	}
	.dash-wrap{
		padding-left: 30px;
	}
}

@media (max-width: 991px){
	.dash-project-detail-wrap{
		> .left{
			.dash-project-info-detail{
				.dash-project-info-list{
					ul{
						li{
							width: 50%;
						}
					}
				}
			}
		}
	}
	.hours-total-boxes{
		.hours-total-boxe{
			width: 210px;
			height: 190px;
			&:before{
				width: 100px;
			}
			&:after{
				left: 82px;
			}
			.hours{
				font-size: 40px;
				line-height: 50px;
			}
		}
	}
}

@media (max-width: 767px){
	.dash-topbar{
		.right{
			> ul{
				.cta-btn{
					display: none;
				}
			}
		}
	}
	.dash-wrap{
		padding: 30px 15px;
	}
	.project-table{
		margin-top: 0;
		padding-top: 15px;
	}
	.dataTables_wrapper{
		.dataTables_filter{
			float: none;
			label{
				width: 100%;
			}
		}
		.dataTables_paginate{
			.pagination{
				justify-content: center !important;
			}
		}
	}
	.dash-project-detail-wrap{
		> .left{
			width: 100%;
			padding-right: 0;
			.manager-chat{
				padding: 0px;
				.send-msg-to-pm{
					padding: 15px;
				}
				.chat-box{
					.chat-discussion{						
						> li{
							.manager-name-date{
								display: block;
								padding-bottom: 10px;
								.m-name{
									display: block;
								}
								.date{
									padding: 0;
								}
							}
						}
					}
				}
			}
			.dash-project-info-detail-top{
				display: block;
				.top-right{
					padding-top: 15px;
				}
			}
			.dash-project-info-detail{
				.dash-project-info-list{
					ul{
						li{
							width: 100%;
						}
					}
				}
			}
		}
		> .right{
			width: 100%;
		}
	}
	.hours-total-boxes{
		.hours-total-boxe{
			width: 100%;
			height: 190px;
		}
	}
}
@media (max-width: 360px){
	.dash-topbar{
		.right{
			> ul{
				.notification-dropdown{
					.dropdown-toggle{
						padding: 18px 7px;
						&:after{
							margin-left: 0;
						}
					}
				}
				.user-dropdown{
					.dropdown-toggle{
						padding: 18px 7px;
						&:after{
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}

