.faq-wrap{
	padding: 70px 0;
	.faq-nav{
		padding: 30px;
		background: $color-white;
		@include border-radius(5px);
		@include box-shadow(0 0px 36px rgba(0, 0, 0, 0.05));
		ul{
			li{
				margin-bottom: 25px;
				&:last-child{
					margin-bottom: 0;
					a{
						border: 0;
						padding-bottom: 0;
					}
				}
				a{
					display: block;
					border-bottom: 1px dashed $color_tundora2;
					color: $color_tundora2;
					padding-bottom: 25px;
					font-size: 16px;
					font-weight: 600;
					// letter-spacing: 0.040em;
					&.active{
						color: $color_chambray;
					}
				}
			}
		}
	}
	.faq-list-wrap{
		padding-left: 20px;
	}
	.faq-box{
		padding: 40px;
		margin-bottom: 40px;
		background: $color-white;
		@include border-radius(5px);
		@include box-shadow(0 0px 36px rgba(0, 0, 0, 0.05));
		&:last-child{
			margin-bottom: 0;
		}
	}
	.accordion{
		.card{
			border: 0;
			border-bottom: 1px dashed $color_tundora2 !important;
			&:last-child{
				border-bottom: 0 !important;
			}
		}
		.card-header{
			padding: 0;
			background-color: transparent;
			border: 0;
			button{
				display: block;
				width: 100%;
				text-align: left;;
				padding: 30px 60px 30px 20px;
				border: 0;
				background-color: transparent;
				color: $color_chambray;
				font-size: 18px;
				font-weight: 600;
				cursor: pointer;
				position: relative;
				&:before{
					content: "";
					position: absolute;
					right: 20px;
					width: 27px;
					height: 27px;
					top: 50%;
					-webkit-transform: translate(0%, -50%);
					-moz-transform: translate(0%, -50%);
					-o-transform: translate(0%, -50%);
					-ms-transform: translate(0%, -50%);
					transform: translate(0%, -50%);
					background: url(../images/circle-minus.png) no-repeat;
					background-position: center center;
				}
				&.collapsed{
					&:before{
						background: url(../images/circle-plus.png) no-repeat;
						background-position: center center;
					}
				}
			}
		}
		.card-body{
			padding-top: 0;
			font-size: 14px;
			// letter-spacing: 0.040em;
			line-height: 28px;
			font-weight: 400;
		}
	}
}

.faq-form{
	padding: 70px 0;
}

@media (max-width: 991px){
	.faq-wrap{
		.faq-nav{
			margin-bottom: 30px;
		}
		.faq-list-wrap{
			padding-left: 0;
		}
	}
}

@media (max-width: 767px){
	.faq-wrap{
		.faq-box{
			padding: 40px 15px;
		}
		.accordion{
			.card-header{
				button{
					padding-left: 0;
					padding-right: 50px;
				}
			}
		}
	}
}