.footer-wrap{
	footer{
		padding-top: 70px;
		border-bottom: 1px solid $gallery;
	}
	h5{
		position: relative;
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;
		font-family: $primary-font;
		color: $color_chambray;
		z-index: 1;
		text-transform: uppercase;
		margin-bottom: 20px;
		&:before{
			content: "";
			width: 24px;
			height: 24px;
			background: url(../images/dot-pattern-red.png);
			position: absolute;
			left: -8px;
			top: -8px;
			z-index: -1;
			opacity: 0.11;
		}
	}
	.footer-column-list{
		display: flex;
		flex-wrap: wrap;
		> li{
			width: 33.33%;
			padding: 20px 40px 15px;
			border-right: 1px solid $gallery;
			&:last-child{
				border-right: 0;
			}
		}
	}
	.f-quick-links{
		display: flex;
		flex-wrap: wrap;
		ul{
			width: 50%;
			li{
				padding-bottom: 10px;
				a{
					display: inline-block;
					font-size: 16px;
					line-height: 26px;
					color: $color_log_cabin;
					@include transition(all 0.3s ease-in-out);
					&:hover{
						color: $secondary-color-light;
					}
				}
			}
		}
	}
	.social-touch{
		padding-top: 15px;
		ul{
			li{
				padding-bottom: 10px;
				a{
					display: inline-block;
					position: relative;
					word-break: break-all;
					padding-left: 25px;
					font-style: 16px;
					line-height: 26px;
					color: $color_log_cabin;
					i{
						position: absolute;
						left: 0;
						top: 5px;
						color: $color_chambray;
						font-size: 16px;
						line-height: 16px;
						&.fa-skype{
							font-size: 20px;
						}
					}
					@include transition(all 0.3s ease-in-out);
					&:hover{
						color: $secondary-color-light;
					}
				}
			}
		}
	}
	.social-icon{
		padding-bottom: 20px;
		border-bottom: 1px solid $gallery;
	}
	.we-accept{
		padding-top: 37px;
	}
}

.social-icon{
	ul{
		display: inline-flex;
		li{
			margin-right: 15px;
			margin-bottom: 5px;
			&:last-child{
				margin-right: 0;
			}
			a{
				display: inline-block;
				.svg{
					width: 41px;
					height: 45px;
				}
			}
		}
	}
}
.copy-right-wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	line-height: 26px;
	color: $color_log_cabin;
	text-align: center;
	height: 77px;
	padding: 0 10px;
	p{
		margin: 0;
	}
	a{
		color: $color_log_cabin;
		@include transition(all 0.3s ease-in-out);
		&:hover{
			color: $secondary-color-light;
		}
	}
}
@media (max-width: 1100px) {
	.footer-wrap{
		.footer-column-list{
			> li{
				padding: 20px 20px 15px;
			}
		}
	}
}

@media (max-width: 991px) {
	.footer-wrap{
		.footer-column-list{
			> li{
				padding: 20px 40px 15px;
				width: 50%;
				&:nth-child(2){
					border-right: 0;
				}
				&:last-child{
					width: 100%;
					border-top: 1px solid $gallery;
					padding-bottom: 25px;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.footer-wrap{
		.footer-column-list{
			> li{
				width: 100%;
				border: 0;
				padding: 20px 15px;
				&:last-child{
					width: 100%;
					border-top: 0;
				}
			}
		}
		.social-icon{
			border: 0;
			padding-bottom: 10px;
		}
	}
	.copy-right-wrap{
		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
	}
}