.navbar-wrap{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100px;
	// padding-top: 15px;
	z-index: 1234;
	@include transition(all 0.3s ease-in-out);
	.container{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	header{
		height: 100%;
		display: flex;
		width: 100%;
	}
	.logo{
		a{
			// color: $color-white;
			color: $color_chambray;
			font-family: $secondary-font;
			font-size: 39px;
			display: flex;
			align-items: center;
			line-height: 39px;
			letter-spacing: 0.03em;
			.brand-name{
				padding-top: 4px;
				padding-left: 8px;
				@include transition(all 0.3s ease-in-out);
			}
		}
	}
	.navbar-right{
		display: flex;
		align-items: center;
		.nav-link-toggle{
			display: none;
		}
	}
	.nav-login{
		padding-left: 25px;
		a{
			display: inline-block;
			// color: $color-white;
			color: $color_chambray;
			font-size: 18px;
			line-height: 22px;
			@include transition(all 0.3s ease-in-out);
			&.dropdown-toggle{
				&::after{
					vertical-align: middle;
				}
			}
		}
		&.user_login_success{
			.dropdown-menu{
				width: 210px;
			}
		}
		.dropdown-menu{
			width: 310px;
			padding: 20px;
			border: 0;
			margin-top: 36px;
			@include border-radius(2px);
			@include box-shadow(0 1px 6px rgba($color-black, 0.16));
			&:before{
				content: "\f0d8";
				font-family: "FontAwesome";
				position: absolute;
				top: -17px;
				font-size: 30px;
				line-height: 20px;
				right: 10px;
				color: $color-white;
				text-shadow: 0px -1px 4px rgba(0, 0, 0, .16);
			}
		}
		.login-form{
			label{
				color: $color_shady_lady;
				font-size: 14px;
				letter-spacing: 0.040em;
			}
		}
		.user-dropdown{
			ul{
				li{
					a{
						font-size: 15px;
						font-weight: 400;
						color: rgba($color_chambray, 1);
						display: block;
						padding: 8px 0;
						border-bottom: 1px solid rgba($color_chambray, 0.10);
						font-family: $primary-font;
						&.logout{
							color: $secondary-color-light;
							font-weight: 500;
						}
					}
					&:last-child{
						a{
							border-bottom: 0;
						}
					}
				}
			}
		}
	}
	.nav-cta{
		border-left: 1px solid rgba($color_chambray, .29);
		padding-left: 25px;
		height: 35px;
		@include transition(all 0.3s ease-in-out);
		.cta-btn{
			.cta-link{
				&.cta-sm{
					font-size: 14px;
					line-height: 18px;
					letter-spacing: 0.080em;
					padding: 9px 17px 8px;
				}
			}
		}
	}
	.nav-menu{
		> ul{
			display: flex;
			> li{
				margin-right: 25px;
				padding: 35px 0;
				> a{
					// color: $color-white;
					color: $color_chambray;
					font-family: $secondary-font;
					font-size: 25px;
					line-height: 29px;
					letter-spacing: 0.105em;
					text-transform: uppercase;
					@include transition(all 0.3s ease-in-out);
				}
				> ul{
					display: flex;
					align-items: flex-start;
					position: absolute;
					flex-direction: column;
					left: initial;
					z-index: -1;
					background: $color-white;
					// top: calc(100% + 20px);
					top: 100%;
					padding: 15px 0;
					@include border-radius(4px);
					@include box-shadow(0 0px 50px 0 rgba(0, 0, 0, 0.2));
					@include transform(translate3d(-40%, -50px, 0px));
					opacity: 0;
					visibility: hidden;
					@include transition(all 0.3s ease-in-out);
					&:before{
						content: '';
						position: absolute;
						top: -11px;
						left: 50%;
						transform: translateX(-50%);
						border-left: 11px solid transparent;
						border-right: 11px solid transparent;
						border-bottom: 11px solid $color-white;
					}
					li{
						position: relative;
						padding: 0 30px;
						width: 100%;
						> ul{
							display: flex;
							align-items: flex-start;
							position: absolute;
							flex-direction: column;
							z-index: -1;
							background: $color-white;
							top: -15px;
							left: 100%;
							padding: 15px 0;
							@include border-radius(4px);
							@include box-shadow(0 0px 50px 0 rgba(0, 0, 0, 0.2));
							opacity: 0;
							visibility: hidden;
							min-width: 230px;
							@include transition(all 0.3s ease-in-out);
							&:before{
								content: '';
								position: absolute;
								top: 13px;
								left: -15px;
								transform: rotate(-90deg);
								border-left: 11px solid transparent;
								border-right: 11px solid transparent;
								border-bottom: 11px solid $color-white;
							}
							li{
								padding: 0 15px;
							}
						}
						a{
							font-size: 13px;
							text-transform: uppercase;
							font-weight: 500;
							letter-spacing: 0.040em;
							color: $primary-color;
							display: block;
							padding: 9px 0px 9px 0;
							@include transition(all 0.3s ease-in-out);
							&:hover{
								color: $secondary-color-light;
							}
						}
					}
				}
				&:hover{
					> ul{
						@include transform(translate3d(-40%, 0px, 0px));
						opacity: 1;
						visibility: visible;
						li{
							&:hover{
								> ul{
									opacity: 1;
									visibility: visible;
								}
							}
						}
					}
				}
			}
		}
	}
	.menu-icon{
		padding-left: 15px;
		display: none;
		a{
			position: relative;
			padding-left: 50px;
			min-height: 47px;
			display: flex;
			align-items: center;
			font-weight: 500;
			color: $color_chambray;
			letter-spacing: 0.050em;
			&:before{
				content: "";
				width: 50px;
				height: 47px;
				position: absolute;
				left: 0;
				top: 0;
				background: url(../images/menu.svg) no-repeat;
				background-size: 40px 46px;
			}
		}
	}

	&.shrink-nav{
		@include box-shadow(0px 1px 6px rgba(0, 0, 0, .16));
		background: $color-white;
		// padding-top: 15px;
		.logo{
			a{
				.brand-name{
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		.nav-menu{
			> ul{
				> li{
					> a{
						color: $primary-color;
					}
				}
			}
		}
		.nav-login{
			a{
				color: $primary-color;
			}
		}
		.nav-cta{
			border-left-color: #DBDBDB;
		}
	}
}

.dropdown-overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(12, 25, 55, 0.5);
	opacity: 0;
	visibility: hidden;
	z-index: 1233;
	@include transition(all 0.3s ease-in-out);
}
.menu-dropdown-show{
	.navbar-wrap{
		@include box-shadow(0px 1px 6px rgba(0, 0, 0, .16));
		background: $color-white;
	}
	.dropdown-overlay{
		opacity: 1;
		visibility: visible;
	}
}

.mobile-menu{
	position: fixed;
	right: -330px;
	top: 0;
	width: 300px;
	height: 100%;
	overflow: auto;
	background: $color-white;
	z-index: 1238;
	padding-top: 80px;
	@include transition(all 0.4s ease-in-out);
	&.menu-show{
		right: 0;
	}
	.menu-icon{
		padding: 10px;
		text-align: right;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		a{
			display: inline-flex;
			&:before{
				background: url(../images/menu-close.svg) no-repeat;
				background-size: 40px 46px;
			}
		}
	}
	.nav-login{
		padding: 25px 25px 25px 20px;
		a{
			font-family: $secondary-font;
			font-size: 25px;
			line-height: 29px;
			letter-spacing: 0.105em;
			text-transform: uppercase;
			i{
				font-size: 20px;
				vertical-align: middle;
			}
		}
		.form-wrap{
			padding-top: 15px;
		}
		.user-dropdown{
			padding-top: 10px;
		}
	}
}
.menu-overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1235;
	background: $secondary-color-light;
	opacity: 0;
	visibility: hidden;
	@include transition(all 0.4s ease-in-out);
	&.menu-show{
		opacity: 0.4;
		visibility: visible;
	}
}
@media (max-width: 1140px){
	.navbar-wrap{
		.nav-menu{
			> ul{
				> li{
					margin-right: 15px;
					> a{
						font-size: 22px;
					}
				}
			}
		}
	}
}


@media (min-width: 1025px) {
	.mobile-menu{
		display: none;
	}
	.menu-overlay{
		display: none;
	}
}
@media (max-width: 1024px){
	.dropdown-overlay{
		display: none;
	}
	.navbar-wrap{
		.navbar-right{
			.nav-menu{
				display: none;
			}
			.nav-login{
				display: none;
			}
		}
		.menu-icon{
			display: block;
		}
		.nav-cta{
			border: 0;
			padding-left: 0;
		}
		.nav-menu{
			> ul{
				display: block;
				> li{
					margin-right: 0;
					position: relative;
					padding: 0;
					> a{
						padding: 10px 20px;
						display: block;
					}
					> ul{
						position: relative;
						@include transform(none);
						box-shadow: none;
						opacity: 1;
						visibility: visible;
						padding: 0;
						display: none;
						transition: none;
						z-index: 12;
						&:before{
							display: none;
						}
						li{
							padding: 0 30px 0 0;
							> ul{
								position: relative;
								@include transform(none);
								box-shadow: none;
								opacity: 1;
								visibility: visible;
								padding: 10px 10px 0;
								display: none;
								transition: none;
								left: 0;
								top: 0;
								z-index: 1;
								&:before{
									display: none;
								}
								a{
									padding-left: 0;
									padding-right: 0;
								}
							}
							.nav-link-toggle{
								top: 0;
								height: 38px;
							}
							a{
								padding-left: 20px;
								padding-right: 10px;
							}
							&:hover{
								> ul{
									@include transform(none);
									opacity: 1;
									visibility: visible;
								}
							}
						}
					}
					&:hover{
						ul{
							@include transform(none);
							opacity: 1;
							visibility: visible;
						}
					}
					.nav-link-toggle{
						position: absolute;
						right: 10px;
						top: 4px;
						width: 40px;
						height: 40px;
						line-height: 40px;
						text-align: center;
						color: $color_chambray;
						&.open{
							.fa{
								&:before{
									content: "\f068";
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px){
	.navbar-wrap{
		@include box-shadow(0px 1px 6px rgba(0, 0, 0, .16));
		background: $color-white;
		padding-top: 0px;
		.logo{
			width: 54px;
			a{
				.brand-name{
					display: none;
				}
			}
		}
	}
}
@media (max-width: 370px){
	.navbar-wrap{
		.container{
			padding: 0 8px;
		}
		.menu-icon{
			padding-left: 5px;
		}
	}
}