.hero-banner{
	position: relative;
	// background: linear-gradient(233deg, #4B5EAB 0%, #293170 100%);
	.container{
		height: 100%;
		display: flex;
		align-items: center;
		> div{
			width: 100%;
		}
	}
	&:before{
		content: "";
		background: url(../images/dot-pattern-red.png);
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 40%;
		opacity: 0.09;
	}
	.hero-slide{
		position: relative;
		height: 915px;
	}
	.hero-text{
		h3{
			// color: $color-white;
			font-size: 40px;
			line-height: 46px;
			letter-spacing: 0.040em;
			padding-bottom: 25px;
		}
		h1{
			font-size: 120px;
			color: $color_chambray;
			line-height: 120px;
			letter-spacing: 0.040em;
			padding-bottom: 25px;
		}
		.promo-code{
			// color: $color-white;
			font-size: 40px;
			font-family: $secondary-font;
			line-height: 46px;
			letter-spacing: 0.040em;
			span{
				color: $secondary-color-light;
				display: inline;
				border-bottom: 2px solid $secondary-color-light;
			}
		}
		.cta-btn{
			padding-top: 20px;
		}
	}
	.hero-img{
		margin-right: -140px;
	}
	.slick-dots{
		position: absolute;
		top: 50%;
		right: 30px;
		-webkit-transform: translate(0px, -50%);
		-moz-transform: translate(0px, -50%);
		-o-transform: translate(0px, -50%);
		-ms-transform: translate(0px, -50%);
		transform: translate(0px, -50%);
		padding: 37px 0px;
		width: 49px;
		z-index: 123;
		@include border-radius(25px);
		background: rgba($secondary-color-light, 0.15);
		li{
			&:first-child{
				button{
					margin-top: 0;
				}
			}
			&:last-child{
				button{
					margin-bottom: 0;
				}
			}
			button{
				border: 0;
				background: transparent;
				text-align: center;
				display: block;
				width: 100%;
				color: $color-black;
				font-size: 15px;
				font-weight: 500;
				margin: 9px 0;
				outline: none;
				&:after{
					content: "";
					height: 0;
					width: 1px;
					background: $secondary-color-light;
					display: block;
					margin: 0 auto 0;
					@include transition(all 0.3s ease-in-out);
				}
			}
			&.slick-active{
				button{
					color: $secondary-color-light;
					&:after{
						height: 125px;
						margin: 15px auto 0;
					}
				}
			}
		}
	}
}

@media (max-width: 1300px) {
	.hero-banner{
		.hero-img{
			margin-right: 0;
			img{
				max-width: 450px;
				margin: 0 auto;
				width: 100%;
			}
		}
		.hero-slide{
			height: 715px;
		}
		.hero-text{
			h3{
				font-size: 30px;
				line-height: 36px;
			}
			h1{
				font-size: 90px;
				line-height: 90px;
			}
			.promo-code{
				font-size: 30px;
				line-height: 36px;
			}
		}
	}
}
@media (max-width: 1024px) {
	.hero-banner{
		.slick-dots{
			top: inherit;
			bottom: 0px;
			transform: translate(0,0);
			width: auto;
			height: 50px;
			right: 0;
			left: 0;
			margin: 0 auto;
			padding: 0 37px;
			display: flex;
			justify-content: center;
			li{
				padding: 13px 5px;
				button{
					margin: 0;
					display: inline-block;
					&:after{
						width: 0;
						height: 1px;
						display: inline-block;
						vertical-align: middle;
						margin: 0 5px;
					}
				}
				&.slick-active{
					button{
						&:after{
							width: 80px;
							height: 1px;
							display: inline-block;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.hero-banner{
		.hero-text{
			h3{
				font-size: 20px;
				line-height: 26px;
			}
			h1{
				font-size: 60px;
				line-height: 60px;
			}
			.promo-code{
				font-size: 30px;
				line-height: 36px;
			}
		}
	}
}
@media (max-width: 767px) {
	.hero-banner{
		padding-top: 130px;
		&:before{
			width: 100%;
		}
		.hero-slider{
			padding-bottom: 60px;
		}
		.hero-slide{
			height: auto;
		}
		.hero-text{
			h1{
				padding-bottom: 0;
			}
		}
	}
}