@media (max-width: 1400px) {
	.home-work-section{
		.slider_arrow{
			bottom: 50px;
		}
		.work-slider{
			.work-slide{
				.container{
					.slide-count-wrap{
						bottom: 50px;
						right: 190px;
						width: 60px;
						span{
							display: inline-block;
							vertical-align: middle;
							&.separator{
								height: 34px;
								margin: 0 10px;
								width: 1px;
							}
						}
					}
				}
			}
		}
	}
}


@media (max-width: 1300px) {
	.how-we-work-wrap{
		.container{
			max-width: 1000px;
		}
	}
	.home-work-section{
		.work-slider{
			.work-slide{
				height: 715px;
				.work-slider-img{
					margin-left: 0;
				}
			}
		}
	}
}

@media (min-width: 1025px) and (max-width: 1300px) {}

@media (max-width: 1200px) {
	.how-we-work-wrap{
		.container{
			max-width: 800px;
		}
	}
	.work-process{
		.process-connecter{
			.left-corner{
				left: -61px;
			}
			.right-corner{
				right: -60px;
			}
		}
	}
	.subscribe-wrap{
		.bg-svg{
			display: none;
		}
		.container{
			padding: 80px 15px 80px;
		}
	}
}
@media (max-width: 1024px) {
	.cursor{
		display: none;
	}
	.quote-service-select{
		ul{
			li{
				width: 160px;
				height: 150px;
				padding-top: 25px;
			}
		}
	}
	.contact-info-list{
		.contact-info-box{
			width: 290px;
			height: 330px;
			background-size: contain;
			padding: 60px 39px 0;
			background-repeat: no-repeat;
			background-position: center center;
			ul{
				li{
					a{
						font-size: 14px;
					}
				}
			}
		}
	}
	.cta-banner{
		h2{
			font-size: 70px;
		}
	}
	.banner-sub-title{
		font-size: 30px;
		line-height: 1;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.how-we-work-wrap{
		.container{
			max-width: 640px;
		}
	}
	.work-process{
		ul{
			li{
				.name{
					font-size: 13px;
					line-height: 18px;
					font-weight: 500;
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.social-icon{
		ul{
			li{
				margin-right: 5px;
			}
		}
	}
	.home-work-section{
		.work-slider{
			.work-slider-text{
				p{
					font-size: 16px;
					line-height: 26px;
					font-weight: 300;
				}
			}
		}
	}
	.statistics-wrap{
		ul{
			h4{
				font-size: 23px;
				line-height: 30px;
			}
			span{
				font-size: 20px;
			}
		}
	}
	.customer-says-wrap{
		.customer-says-box{
			display: block;
			.customer-img{
				width: 100%;
				.img{
					margin: 0 auto 40px;
				}
			}
			.customer-quote{
				width: 100%;
			}
		}
	}
}

@media (max-width: 767px) {
	.cta-btn{
		.cta-link{
			font-size: 14px;
			padding: 13px 30px;
			&.cta-outline{
				&.cta-white{
					padding: 12px 30px;
				}
			}
		}
	}
	.work-process{
		ul{
			padding-left: 40px;
			padding-right: 20px;
			position: relative;
			&:before{
				content: "";
				height: 100%;
				width: 2px;
				position: absolute;
				left: 10px;
				top: 0;
				background: $color_chambray;
			}
			&:after{
				content: "";
				position: absolute;
				left: 0px;
				top: -30px;
				width: 20px;
				height: 20px;
				border: 1px solid $color_chambray;
				background: $color_chambray;
				@include box-shadow(inset 0px 0px 0px 5px $color-white);
				@include border-radius(100%);
			}
			&.second-row{
				&:after{
					display: none;
				}
			}
			li{
				width: 100%;
				position: relative;
				padding: 10px 15px 10px 65px;
				min-height: 70px;
				background: rgba($color-white, 0.5);
				display: flex;
				align-items: center;
				@include box-shadow(0 5px 16px rgba($color-black, 0.16));
				margin-bottom: 15px;
				@include border-radius(4px);
				&:before{
					content: "";
					position: absolute;
					left: -20px;
					top: 50%;
					margin-top: -2px;
					height: 4px;
					width: 20px;
					background: $color_chambray;
					@include border-radius(3px 0 0 3px);
					opacity: 0.7;
				}
				.line{
					display: none;
				}
				&:first-child{
					.line{
						display: none;
					}
					.circle-dot{
						display: none;
					}
				}
				.icon{
					background: none;
					width: 49px;
					height: 49px;
					margin-left: 0;
					position: absolute;
					left: 10px;
					top: 10px;
					.svg{
						width: 39px;
						height: 39px;
					}
				}
				.name{
					text-align: left;
					padding-top: 0;
					font-weight: 500;
					color: $color_chambray;
					br{
						display: none;
					}
				}
			}
			&.second-row{
				li{
					&:last-child{
						&:after{
							display: none;
						}
						.circle-dot{
							display: none;
						}
					}
				}
			}
		}
		.process-connecter{
			display: none;
		}
		&.service-detail-process{
			ul{
				li{
					width: 100%;
				}
			}
		}
	}
	.subscribe-wrap{
		.subscribe-form{
			.ns-group{
				width: 100%;
				padding-right: 0;
			}
			.ns-action{
				width: 100%;
			}
		}
	}
	.cta-banner{
		h2{
			font-size: 50px;
			line-height: 50px;
		}
		&:before{
			display: none;
		}
		&:after{
			display: none;
		}
	}
	.cursor{
		display: none;
	}
	.title{
		h2{
			font-size: 42px;
			line-height: 45px;
		}
	}
	.home-work-section{
		.work-slider{
			.work-slide{
				height: auto;
				padding: 40px 0 100px;
				.container{
					position: inherit;
					> div{
						margin: 0;
					}
				}
			}
			.work-slider-text{
				padding-top: 15px;
				h5{
					padding-bottom: 12px;
				}
				h3{
					font-size: 40px;
					line-height: 40px;
					padding-bottom: 10px;
				}
			}
		}
	}
	.customer-says-wrap{
		.customer-says-box{
			display: block;
			padding: 40px 15px;
			&:after{
				left: 8px;
			}
			.customer-img{
				margin: 0 auto;
				.img{
					margin: 0 auto;
				}
			}
			.customer-quote{
				margin-top: 20px;
				width: 100%;
				padding: 40px 15px;
			}
		}
	}
	.why-pph-points{
		ul{
			li{
				h4{
					font-size: 14px;
				}
			}
		}
	}
	.subscribe-wrap{
		h3{
			font-size: 46px;
		}
		.subscribe-form{
			.ns-action{
				.ns-submit{
					height: 50px;
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}
	}
	.form-wrap{
		.form-control{
			height: 50px;
			font-size: 14px;
		}
		.promo-code-box{
			.cta-btn{
				right: 0px;
				top: 0px;
			}
			.cta-link{
				height: 50px;
			}
		}
	}
	.quote-service-select{
		ul{
			max-width: 580px;
			margin: 0 auto;
			li{
				width: 135px;
				height: 135px;
				margin: 5px;
				padding-top: 20px;
				&:before{
					height: 25px;
				}
				&.select{
					&:before{
						width: 25px;
					}
				}
			}
		}
	}
	.quote-page-wrap{
		padding-bottom: 0;
	}
	.pagination-wrap{
		.pagination-block{
			flex-wrap: wrap;
			@include border-radius(5px);
			.prev{
				margin-bottom: 5px;
			}
			.next{
				margin-left: 14px;
				margin-top: 5px;
			}
		}
	}
	.why-wrap{
		.why-list{
			ul{
				li{
					padding: 20px 0;
					h5{
						padding-bottom: 15px;
					}
				}
			}
			.discount-table{
				th{
					font-size: 12px;
					font-family: $primary-font;
					line-height: 18px;
					padding: .75rem .45rem;
				}
				td{
					font-size: 12px;
					line-height: 18px;
					padding: .75rem .25rem;
				}
			}
		}
	}
	.statistics-wrap{
		ul{
			justify-content: center;
			li{
				width: 50%;
			}
		}
	}
	.client-list-wrap{
		.client-list{
			ul{
				li{
					width: 33.33%;
				}
			}
		}
	}
	.login-page-wrap{
		padding: 140px 0px 70px;
		height: auto;
		.container{
			padding: 0;
		}
		.login-box{
			position: relative;
			top: 0;
			margin: 0 auto;
			-webkit-transform: translate(0%, 0%);
			-moz-transform: translate(0%, 0%);
			-o-transform: translate(0%, 0%);
			-ms-transform: translate(0%, 0%);
			transform: translate(0%, 0%);
		}
	}
	.contact-banner{
		h1{
			font-size: 90px;
			line-height: 100px;
		}
		.contact-text{
			font-size: 16px;
			line-height: 26px;
		}
	}
	.contact-info-list{
		.contact-info-box{
			width: 290px;
			height: 330px;
			background-size: contain;
			padding: 60px 20px 0;
			background-repeat: no-repeat;
			background-position: center center;
			ul{
				li{
					a{
						font-size: 14px;
					}
				}
			}
		}
	}
	.thankyou-pages-wrap{
		padding: 130px 0 0;
		.thankyou-page-text{
			padding-top: 15px;
			h3{
				font-size: 46px;
				line-height: 50px;
				letter-spacing: 0.020em;
			}
		}
	}
}

@media (max-width: 500px) {
	.quote-service-select{
		ul{
			max-width: 580px;
			margin: 0 auto;
			display: block;
			li{
				width: 100%;
				height: auto;
				margin: 0 0 10px;
				padding: 20px 30px 10px 80px;
				min-height: 60px;
				&:before{
					height: 25px;
				}
				.icon{
					position: absolute;
					left: 10px;
					top: 5px;
					padding-bottom: 0;
					.svg{
						width: 55px;
						height: 50px;
					}
				}
				h4{
					text-align: left;
				}
				&:before{
					right: 5px;
					top: 50%;
					@include transform(translate(0px, -50%));
				}
				&.select{
					&:before{
						width: 25px;
					}
				}
			}
		}
	}
}