.order-wrap{
	padding: 70px 0;
	.order-column{
		display: flex;
		flex-wrap: wrap;
		.left{
			width: calc(100% - 380px);
			padding-right: 40px;
			position: relative;
		}
		.right{
			width: 380px;
			position: relative;
		}
	}
	.step1{
		border-bottom: 1px solid rgba($color_chambray, 0.15);
		padding-bottom: 15px;
		margin-bottom: 50px;
		.quote-service-select{
			ul{
				li{
					width: 170px;
					height: 150px;
					padding-top: 25px;
				}
			}
		}
	}
	.step2{
		border-bottom: 1px solid rgba($color_chambray, 0.15);
		padding-bottom: 15px;
		margin-bottom: 50px;
	}
	.step3{
		border-bottom: 1px solid rgba($color_chambray, 0.15);
		padding-bottom: 15px;
		margin-bottom: 50px;
	}
	.step4{
		border-bottom: 1px solid rgba($color_chambray, 0.15);
		padding-bottom: 15px;
		margin-bottom: 50px;
	}
	.number-of-pages{
		padding-bottom: 40px;
		h3{
			font-size: 30px;
			line-height: 40px;
			letter-spacing: 0.1em;
			margin-bottom: 20px;
			color: $color_tundora2;
		}
		.total-page-count{
			padding-top: 16px;
			font-size: 14px;
			letter-spacing: 0.040em;
			font-weight: 500;
			color: rgba($color-black, 0.8);
		}
	}
	.qty{
		max-width: 350px;
		display: flex;
		justify-content: space-between;
		.handlar{
			height: 60px;
			width: 60px;
			@include border-radius(5px);
			background: $color-white;
			border: solid 1px #e0e5f0;
			font-size: 35px;
			color: $color-black;
			text-align: center;
			line-height: 58px;
			cursor: pointer;
			user-select: none;
			@include transition(all 0.3s ease-in-out);
			&:hover{
				background: rgba($color_chambray, 0.15);
				color: $color_chambray;
			}
			&.minus{
				font-size: 45px;
				line-height: 50px;
			}
		}
		.count{
			height: 60px;
			width: 173px;
			@include border-radius(5px);
			background: $color-white;
			border: solid 1px #e0e5f0;
			text-align: center;
			font-size: 16px;
			color: $color-black;
			user-select: none;
		}
	}
	.delivery-time-select{
		padding-bottom: 40px;
		h4{
			font-size: 30px;
			line-height: 40px;
			letter-spacing: 0.1em;
			margin-bottom: 10px;
			color: $color_tundora2;
		}
		.total-page-count{
			padding-top: 6px;
			font-size: 14px;
			letter-spacing: 0.040em;
			font-weight: 500;
			color: rgba($color-black, 0.8);
		}
		> ul{
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;
			> li{
				width: 270px;
				border: solid 1px #e0e5f0;
				position: relative;
				margin: 10px;
				background: $color-white;
				top: 0;
				padding: 35px 10px 10px;
				@include border-radius(6px);
				@include transition(all 0.3s ease-in-out);
				cursor: pointer;
				&:hover{
					top: -10px;
					@include box-shadow(0 0px 36px rgba(0, 0, 0, 0.05));
				}
				&:before{
					content: "";
					width: 0;
					height: 30px;
					position: absolute;
					right: 10px;
					top: 10px;
					background: url(../images/checked.svg) no-repeat;
					background-size: 100%;
					background-position: center center;
					@include transition(all 0.3s ease-in-out);
				}
				.icon{
					text-align: center;
					padding-bottom: 0px;
					.svg{
						width: 160px;
						height: 160px;
						.st0{
							fill: rgba($color-black, 0.25);
						}
						.st1{
							fill: rgba($color-black, 0.25);
						}
					}
				}
				h3{
					text-align: center;
					font-size: 15px;
					letter-spacing: 0.040em;
					color: rgba($color-black, 0.5);
					font-weight: 600;
					padding-bottom: 25px;
					font-family: $primary-font;
					@include transition(all 0.3s ease-in-out);
				}
				&.select{
					border-color: rgba($color_chambray, 0.7);
					&:before{
						width: 30px;
					}
					h3{
						color: $color_chambray;
					}
					.icon{
						.svg{
							.st0{
								fill: $color_chambray;
							}
							.st1{
								fill: $color_chambray;
							}
						}
					}
				}
			}
		}
	}
	.payment-selection{
		padding-bottom: 25px;
		> ul{
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;
			> li{
				width: 270px;
				border: solid 1px #e0e5f0;
				position: relative;
				margin: 10px;
				background: $color-white;
				top: 0;
				padding: 35px 10px 10px;
				@include border-radius(6px);
				@include transition(all 0.3s ease-in-out);
				cursor: pointer;
				&:hover{
					top: -10px;
					@include box-shadow(0 0px 36px rgba(0, 0, 0, 0.05));
				}
				&:before{
					content: "";
					width: 0px;
					height: 30px;
					position: absolute;
					right: 10px;
					top: 10px;
					background: url(../images/checked.svg) no-repeat;
					background-size: 100%;
					background-position: center center;
					@include transition(all 0.3s ease-in-out);
				}
				.icon{
					text-align: center;
					padding-bottom: 0px;
					.svg{
						width: 160px;
						height: 160px;
						.st0{
							fill: rgba($color-black, 0.25);
						}
						.st1{
							fill: rgba($color-black, 0.25);
						}
					}
				}
				h3{
					text-align: center;
					font-size: 15px;
					letter-spacing: 0.040em;
					color: rgba($color-black, 0.5);
					font-weight: 600;
					padding-bottom: 25px;
					font-family: $primary-font;
					@include transition(all 0.3s ease-in-out);
				}
				&.select{
					border-color: rgba($color_chambray, 0.7);
					&:before{
						width: 30px;
					}
					h3{
						color: $color_chambray;
					}
					.icon{
						.svg{
							.st0{
								fill: $color_chambray;
							}
							.st1{
								fill: $color_chambray;
							}
							g{
								fill: $color_chambray;
							}
						}
					}
				}
				&.collapsed{
					border: solid 1px #e0e5f0;
					&:before{
						width: 0px;
					}
					h3{
						color: rgba($color-black, 0.5);
					}
					.icon{
						.svg{
							.st0{
								fill: rgba($color-black, 0.25);
							}
							.st1{
								fill: rgba($color-black, 0.25);
							}
							g{
								fill: rgba($color-black, 0.25);
							}
						}
					}
				}
			}
		}
	}
	.summary-box{
		background: $color-white;
		@include border-radius(5px);
		border: solid 1px #e0e5f0;
		@include box-shadow(0 0px 36px rgba(0, 0, 0, 0.05));
		.selected-service{
			padding: 16px 25px;
			@include border-radius(5px 5px 0 0);
			background: rgba($color_chambray, 0.15);
			display: flex;
			align-items: center;
			.icon{
				margin-right: 15px;
			}
			.s-name{
				font-family: $secondary-font;
				color: $color-black;
				font-size: 30px;
				letter-spacing: 0.040em;
			}
		}
		.selected-service-list{
			ul{
				li{
					border-bottom: 1px solid rgba($color_chambray, 0.2);
					padding: 20px;
					display: flex;
					align-items: flex-end;
					flex-wrap: wrap;
					.service-name{
						width: calc(100% - 100px);
						padding-right: 10px;
						font-size: 14px;
						font-weight: 500;
						letter-spacing: 0.040em;
						color: $color_log_cabin;
						h6{
							font-size: 12px;
							text-transform: uppercase;
							letter-spacing: 0.040em;
							font-weight: 400;
							font-family: $primary-font;
						}
					}
					.service-price{
						width: 100px;
						text-align: right;
						color: $secondary-color-light;
						font-size: 14px;
						font-weight: 700;
					}
					.selected-innerpage{
						width: 100%;
						display: flex;
					}
				}
			}
		}
		.service-total{
			background: rgba($color_chambray, 0.9);
			padding: 5px 20px;
			color: $color-white;
			display: flex;
			justify-content: space-between;;
			align-items: center;
			@include border-radius(0 0 5px 5px);
			.tag{
				font-size: 30px;
				font-family: $secondary-font;
				letter-spacing: 0.040em;
			}
			.total{
				font-size: 20px;
				font-weight: 600;
			}
		}
	}
	.card-detail-add{
		border: solid 1px #e0e5f0;
		position: relative;
		background: $color-white;
		padding: 30px 30px 15px;
		@include border-radius(6px);
		@include transition(all 0.3s ease-in-out);
		margin-bottom: 30px;
		&:before{
			content: "\f0d8";
			font-family: "FontAwesome";
			color: $color-white;
			font-size: 30px;
			line-height: 30px;
			position: absolute;
			left: 20px;
			top: -20px;
			text-shadow: 0px 0px 0px #fff, 0px -2px 0px rgba(0,0,0,0.15);
		}
	}

	.step-nav{
		height: 60px;
		margin-bottom: 20px;
		.navbar{
			border: solid 1px #e0e5f0;
			background: $color-white;
			@include border-radius(5px);
			position: relative;
			z-index: 123;
			@include box-shadow(0 0px 36px rgba($color-black, 0.05));
			ul{
				width: 100%;
			}
			li{
				width: 20%;
				text-align: center;
				border-right: 1px solid rgba($color-black, 0.2);
				span{
					display: inline-block;
					background: rgba($color-black, 0.08);
					width: 29px;
					height: 29px;
					@include border-radius(100%);
					line-height: 29px;
					text-align: center;
					color: $color_shady_lady;
					margin-left: 5px;
					@include transition(all 0.3s ease-in-out);
				}
				&:last-child{
					border-right: 0;
				}
				a{
					color: $color_shady_lady;
					font-size: 16px;
					font-weight: 500;
					@include transition(all 0.3s ease-in-out);
					padding-left: 3px;
					padding-right: 3px;
				}
				&.active{
					a{
						color: $color_chambray;
					}
					span{
						color: $color-white;
						background: $color_chambray;
					}
				}
			}
		}
	}
}

.package-select{
	padding-bottom: 25px;
	max-width: 1100px;
	margin: 0 auto;
	> ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -10px;
		> li{
			width: calc(50% - 20px);
			border: solid 1px #e0e5f0;
			position: relative;
			margin: 10px;
			background: $color-white;
			top: 0;
			padding: 35px 30px 30px;
			@include border-radius(6px);
			@include transition(all 0.3s ease-in-out);
			cursor: pointer;
			&:hover{
				top: -10px;
				@include box-shadow(0 0px 36px rgba(0, 0, 0, 0.05));
			}
			&:before{
				content: "";
				width: 0;
				height: 30px;
				position: absolute;
				right: 10px;
				top: 10px;
				background: url(../images/checked.svg) no-repeat;
				background-size: 100%;
				background-position: center center;
				@include transition(all 0.3s ease-in-out);
			}
			.icon{
				text-align: center;
				padding-bottom: 30px;
				border-bottom: solid 1px rgba($color-black, 0.1);
			}
			h3{
				text-align: center;
				font-size: 30px;
				line-height: 40px;
				letter-spacing: 0.040em;
				color: $color_tundora2;
				padding-bottom: 25px;
			}
			.cta-btn{
				position: absolute;
				bottom: 20px;
				width: 100%;
				left: 0;
				i{
					font-style: normal;
				}
				.less{
					display: none;
				}
			}
			&.select{
				border-color: rgba($color_chambray, 0.7);
				&:before{
					width: 30px;
				}
			}
		}
	}
	.package-features{
		padding-bottom: 30px;
		ul{
			padding: 30px 0 15px;
			li{
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 0.040em;
				margin-bottom: 10px;
				color: rgba($color_log_cabin, 0.95);
				text-align: center;
				&:nth-child(n+6){
					display: none;
				}
			}
		}
	}
	&.features-show{
		.cta-btn{
			.less{
				display: inline-block;
			}
			.more{
				display: none;
			}
		}
		.package-features{
			ul{
				li{
					&:nth-child(n+6){
						display: block;
					}
				}
			}
		}
	}
}

.order-submit-wrap{
	display: flex;
	.left{
		width: calc(100% - 380px);
		padding-right: 40px;
	}
}


@media (max-width: 1024px){
	.order-wrap{
		.step-nav{
			display: none;
		}
	}
}

@media (max-width: 1022px){
	.order-wrap{
		.order-column{
			.left{
				width: 100%;
				padding-right: 0;
			}
			.right{
				width: 100%;
			}
		}
	}
	.order-submit-wrap{
		padding-top: 30px;
		.left{
			width: 100%;
			padding-right: 0;
		}
	}
}


@media (min-width: 1025px) and (max-height: 768px){
	.order-wrap{
		.summary-box{
			.selected-service-list{
				ul{
					max-height: 228px;
					overflow:  auto;
				}
			}
		}
	}
}

@media (max-width: 500px){
	.order-wrap{
		.step1{
			.quote-service-select{
				ul{
					li{
						width: 100%;
						height: auto;
						padding-top: 20px;
					}
				}
			}
		}
		.qty{
			.count{
				width: 140px;
			}
		}
		.delivery-time-select{
			> ul{
				> li{
					width: 100%;
				}
			}
		}
		.payment-selection{
			> ul{
				> li{
					width: 100%;
				}
			}
		}
	}
	.package-select{
		> ul{
			> li{
				width: 100%;
			}
		}
	}
}