.services-menu{
	position: fixed;
	right: 20px;
	top: 50%;
	z-index: 123;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
	@include transition(all 0.3s ease-in-out);
	&.hide{
		opacity: 0;
		visibility: hidden;
	}
	ul{
		position: relative;
		&:after{
			content: "";
			height: 90%;
			width: 2px;
			background: rgba($color_tundora2, 0.40);
			right: 10px;
			top: 0;
			position: absolute;
		}
		li{
			text-align: right;
			padding-bottom: 15px;
			position: relative;
			z-index: 1;
			a{
				display: inline-block;
				font-weight: 700;
				font-size: 14px;
				letter-spacing: 0.040em;
				color: rgba($color_tundora2, 0.51);
				padding-right: 36px;
				padding-top: 3px;
				position: relative;
				text-transform: uppercase;
				@include transition(all 0.3s ease-in-out);
				&:before{
					content: "";
					width: 20px;
					height: 20px;
					border: 2px solid rgba($color_tundora2, 0.40);
					background: $color-white;
					position: absolute;
					right: 0;
					top: 0;
					@include transform(scale3d(1, 1, 1));
					@include border-radius(100%);
					@include transition(all 0.3s ease-in-out);
				}
			}
			&.active{
				a{
					color: rgba($color_tundora2, 1);
					&:before{
						border: 2px solid rgba($color_tundora2, 1);
						@include transform(scale3d(1.4, 1.4, 1));
					}
				}
			}
		}
	}
}

.services-block{
	display: block;
	.fp-tableCell{
		position: relative;
		z-index: 12;
	}
	.intro{
		height: 915px;
		display: flex;
		align-items: center;
		// justify-content: center;
		width: 100%;
		padding: 120px 15px;
		position: relative;
		z-index: 1;
		.services-wrap{
			max-width: 1200px;
			margin: 0 auto;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			.left{
				width: 45%;
			}
			.right{
				width: 55%;
				font-size: 18px;
				line-height: 28px;
				color: $color_tundora2;
				h3{
					font-size: 56px;
					letter-spacing: 0.040em;
					line-height: 50px;
					color: $color_chambray;
					padding-bottom: 30px;
				}
			}
		}
		.cta-btn{
			padding-top: 50px;
			a{
				vertical-align: middle;
				margin-right: 36px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
		.services-feature-box{
			max-width: 385px;
			padding-top: 40px;
			> ul{
				display: flex;
				flex-wrap: wrap;
				> li{
					width: 50%;
					ul{
						li{
							border-right: 1px dashed rgba($color_tundora2, .5);
							border-bottom: 1px dashed rgba($color_tundora2, .5);
							padding: 7px 15px;
							font-size: 12px;
							color: rgba($color_tundora2, 0.8);
							font-weight: 500;
							strong{
								font-size: 20px;
								font-weight: 600;
								display: inline-block;
								vertical-align: middle;
								padding-left: 6px;
								color: rgba($color_tundora2, .95);
							}
							&:first-child{
								font-size: 30px;
								font-family: $secondary-font;
								color: $color_tundora2;
								line-height: 50px;
								letter-spacing: 0.040em;
								padding: 0px 15px;
							}
							&:last-child{
								border-bottom: 0;
							}
						}
					}
					&:nth-child(2){
						ul{
							li{
								border-right: 0;
							}
						}
					}
				}
			}
		}
		.service-title{
			color: $color_chambray;
			text-align: center;
			font-size: 120px;
			letter-spacing: 0.040em;
			line-height: 120px;
			text-transform: uppercase;
			padding-bottom: 25px;
			width: 100%;
		}
		.sub-services-title{
			color: $color_tundora2;
			font-size: 40px;
			line-height: 46px;
			letter-spacing: 0.040em;
			text-transform: uppercase;
			text-align: center;
			width: 100%;
		}
		.sub-title-text{
			max-width: 700px;
			margin: 0 auto;
			padding-top: 25px;
			text-align: center;
		}
	}
}
.dot-pattern{
	position: relative;
	&:after{
		content: "";
		background: url(../images/dot-pattern-red.png);
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 30%;
		opacity: 0.09;
	}
	&.blue{
		&:after{
			content: "";
			background: url(../images/dot-pattern-blue.png);
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			opacity: 0.09;
		}
	}
	&.w-40{
		&:after{
			width: 40%;
		}
	}
	&.w-35{
		&:after{
			width: 35%;
		}
	}
}

// services detail
.services-detail-block{
	padding: 220px 0 140px;
	position: relative;
	&:after{
		content: "";
		background: url(../images/dot-pattern-red.png);
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 40%;
		opacity: 0.05;
	}
	.service-title{
		color: $color_chambray;
		text-align: center;
		font-size: 120px;
		letter-spacing: 0.040em;
		line-height: 120px;
		text-transform: uppercase;
		padding-bottom: 15px;
		width: 100%;
	}
	.service-banner-price{
		text-align: center;
		padding-bottom: 60px;
		span{
			display: inline-block;
			position: relative;
			padding: 0 40px;
			font-size: 20px;
			line-height: 1.1;
			color: $color_tundora2;
			&:before{
				content: "";
				width: 25px;
				height: 3px;
				background: $alto;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -1px;
			}
			&:after{
				content: "";
				width: 25px;
				height: 3px;
				background: $alto;
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -1px;
			}
			strong{
				color: $secondary-color-light;
				letter-spacing: 0.040em;
				font-size: 30px;
				font-weight: 700;
				display: inline-block;
				vertical-align: middle;
				margin-left: 5px;
			}
		}
	}
	.bullet-list{
		display: flex;
		flex-wrap: wrap;
		li{
			width: 33.33%;
			margin-bottom: 40px;
			// letter-spacing: 0.040em;
			padding-right: 10px;
		}
	}
	.cta-btn{
		padding-top: 30px;
	}
}

.service-intro{
	text-align: center;
	font-size: 16px;
	line-height: 28px;
	padding: 100px 0 85px;
	color: $color_tundora2;
	.container{
		max-width: 820px;
	}
	h3{
		font-size: 40px;
		color: $color_log_cabin;
		line-height: 50px;
		letter-spacing: 0.060em;
		padding-bottom: 30px;
	}
	h5{
		font-family: $primary-font;
		font-style: italic;
		font-size: 20px;
		font-weight: 300;
		margin-bottom: 27px;
	}
}
.reasons-list-wrap{
	padding: 60px 0;
}
.reasons-list{
	display: flex;
	flex-wrap: wrap;
	li{
		width: 50%;
		position: relative;
		padding: 30px;
		border-right: 1px dashed rgba($color_tundora2, 0.5);
		border-bottom: 1px dashed rgba($color_tundora2, 0.5);
		&:nth-child(2n){
			border-right: 0;
		}
		&:last-child{
			border-bottom: 0;
		}
		&:nth-last-child(2){
			border-bottom: 0;
		}
	}
	.reasons-list-box{
		padding-left: 60px;
		font-size: 16px;
		line-height: 28px;
		color: $color_log_cabin;
		position: relative;
		.icon{
			position: absolute;
			left: 0;
			top: 0px;
			.svg{
				width: 36px;
			}
		}
		h3{
			font-size: 30px;
			letter-spacing: 0.100em;
			color: $color_tundora2;
			line-height: 35px;
			padding-bottom: 20px;
		}
		p{
			margin: 0;
		}
	}
}

.package-wrap{
	padding: 60px 0;
	ul{
		display: flex;
		flex-wrap: wrap;
		li{
			width: 50%;
			padding: 15px 5px;
			background: rgba($color_chambray, 0.15);
			color: $color_chambray;
			font-size: 16px;
			line-height: 21px;
			font-weight: 600;
			&.active{
				background: rgba($color_chambray, 1);
				color: $color-white;
			}
			button{
				width: 100%;
				background: none;
				border: 0;
				color: inherit;
				display: block;
			}
		}
	}
	.table{
		max-width: 790px;
		margin: 0 auto;
	}
	thead{
		th{
			border: 0;
			font-size: 16px;
			font-weight: 600;
			color: $color-black;
		}
	}
	th {
		display: none;
	}
	td,th {
		border: 1px dashed $color_tundora2;
		padding: 10px;
		empty-cells: show;
	}
	td,th {
		text-align: left;
		vertical-align: middle;
	}
	td+td, th+th {
		text-align: center;
		display: none;
	}
	td.default {
		display: table-cell;
	}
	.price-title{
		background: rgba($color-white, 1);
		//border-bottom-color: rgba($secondary-color-light, 0.5);
		font-weight: 700;
		// letter-spacing: 0.040em;
		color: $color-black;
		font-size: 16px;
		vertical-align: middle;
	}
	.price{
		color: $secondary-color-light;
		font-size: 40px;
		line-height: 30px;
		// letter-spacing: 0.040em;
		font-family: $secondary-font;
		background: rgba($color-white, 1);
	}
	.sep{
		background: rgba($color_chambray, 0.08);
		font-weight: 600;
		// letter-spacing: 0.040em;
		color: $color-black;
		font-size: 15px;
	}
	.text{
		font-size: 14px;
		font-weight: 500;
		color: rgba($color-black, 0.9);
		// letter-spacing: 0.040em;
		width: 368px;
	}
	.fa-check{
		font-size: 20px;
		color: rgb(0,191,59);
	}
	.fa-times{
		font-size: 20px;
		color: $secondary-color-light;
	}
	.cta-btn{
		.cta-link{
			display: block;
			&.cta-sm{
				padding: 12px 10px 12px;
				font-size: 15px;
			}
		}
	}
	.tfooter{
		background: $color-white;
		&.bl-0{
			border-left: 0;
		}
	}
}

.maintenance-banner{
	p{
		max-width: 780px;
		margin: 0 auto;
		text-align: center;
	}
}
.maintenance-wrap{
	padding: 60px 0;
}
.maintenance-include{
	padding-bottom: 40px;
	border-bottom: 1px dotted $color_tundora2;
	margin-bottom: 40px;
	h3{
		text-align: center;
		padding-bottom: 40px;
		font-family: $primary-font;
		color: $color_tundora2;
		font-size: 30px;
		font-weight: 500;
	}
	.bullet-list{
		display: flex;
		flex-wrap: wrap;
		li{
			width: 33.33%;
			margin-bottom: 10px;
			letter-spacing: .040em;
			padding-right: 10px;
		}
	}
}
.maintenance-package{
	h3{
		text-align: center;
		padding-bottom: 40px;
		font-family: $primary-font;
		color: $color_tundora2;
		font-size: 30px;
		font-weight: 500;
	}
	.box{
		height: 100%;
		border: solid 1px #e0e5f0;
		position: relative;
		background: $color-white;
		padding: 40px 20px;
		@include border-radius(6px);
		@include transition(all 0.3s ease-in-out);
		text-align: center;
		.best-seller{
			position: absolute;
			right: -15px;
			top: -15px;
		}
		.icon{
			padding-bottom: 20px;
			img{
				max-width: 100px;
			}
		}
		strong{
			display: block;
			font-size: 17px;
			font-weight: 700;
			color: $color_chambray;
			padding-bottom: 5px;
		}
		> span{
			display: block;
			font-size: 18px;
			font-weight: 500;
			color: rgba($color-black, 0.5);
			padding-bottom: 10px;
		}
		.price{
			color: $secondary-color-light;
			font-family: $secondary-font;
			font-size: 40px;
			padding-bottom: 30px;
			margin-bottom: 20px;
			position: relative;
			&:before{
				content: "";
				height: 18px;
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				background: url(../images/line.png) no-repeat;
				background-position: center center;
			}
		}
	}
}


@media (max-width: 1650px) {
	.services-menu{
		position: fixed;
		top: 100px;
		width: 100%;
		right: 0;
		-webkit-transform: translate(0%, -180px);
		-moz-transform: translate(0%, -180px);
		-o-transform: translate(0%, -180px);
		-ms-transform: translate(0%, -180px);
		transform: translate(0%, -180px);
		background: $color-white;
		opacity: 0;
		visibility: hidden;
		@include transition(all 0.4s ease-in-out);
		@include box-shadow(0px 1px 6px rgba(0, 0, 0, .16));
		&.services-menu-shrink{
			-webkit-transform: translate(0%, 0%);
			-moz-transform: translate(0%, 0%);
			-o-transform: translate(0%, 0%);
			-ms-transform: translate(0%, 0%);
			transform: translate(0%, 0%);
			opacity: 1;
			visibility: visible;
		}
		ul{
			&:after{
				display: none;
			}
			display: flex;
			justify-content: space-around;
			li{
				text-align: center;
				padding-bottom: 0;
				&:first-child{
					a{
						padding-top: 20px;
					}
				}
				a{
					&:before{
						display: none;
					}
					display: block;
					padding: 10px 12px;
					font-weight: 600;
					line-height: 17px;
					font-size: 12px;
				}
				&.active{
					background: rgba($secondary-color-light, 0.2);
					a{
						color: $color-black;
					}
				}
			}
		}
	}
	.services-block{
		.intro{
			height: 700px;
		}
	}
}
@media (min-width: 1600px) and (max-width: 1650px) {
	.services-menu{
		ul{
			li{
				a{
					padding: 10px 18px;
				}
			}
		}
	}
}
@media (max-width: 1400px) {
	.services-block{
		.intro{
			height: auto;
			padding: 130px 15px;
		}
	}
	.services-menu{
		ul{
			li{
				a{
					padding: 10px 5px;
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.services-menu{
		display: none;
		ul{
			li{
				&:first-child{
					a{
						padding-top: 20px;
					}
				}
				a{
					padding: 10px 3px;
					font-weight: 600;
					line-height: 16px;
					font-size: 12px;
				}
			}
		}
	}
	.services-block {
		.intro {
			.services-wrap{
				.right{
					font-size: 14px;
					line-height: 26px;
					font-weight: 500;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.services-block{
		.intro{
			.services-wrap{
				.left{
					padding-right: 15px;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.dot-pattern{
		&:after{
			width: 55%;
			display: none;
		}
	}
	.services-block{
		&:first-child{
			.intro{
				padding: 200px 15px 100px;
			}
		}
		.intro{
			padding: 70px 15px;
			.services-wrap{
				.left{
					padding-right: 0;
					width: 100%;
					img{
						display: block;
						margin: 0 auto 30px;
						max-width: 260px;
					}
				}
				.right{
					width: 100%;
					max-width: 550px;
					margin: 0 auto;
					text-align: center;
					color: $color-black;
					h3{
						font-size: 46px;
						line-height: 1;
						padding-bottom: 15px;
					}
				}
			}
			.services-feature-box{
				margin: 0 auto;
				padding-top: 20px;
			}
			.cta-btn{
				padding-top: 20px;
			}
			.service-title{
				font-size: 70px;
				line-height: 70px;
				max-width: 260px;
				margin: 0 auto;
			}
			.sub-services-title{
				font-size: 30px;
				line-height: 1;
			}
		}
	}
	.services-detail-block{
		&:after{
			display: none;
		}
		padding: 160px 0 60px;
		.service-title{
			font-size: 60px;
			line-height: 70px;
		}
		.bullet-list{
			li{
				width: 100%;
				margin-bottom: 20px;
				font-size: 14px;
				padding-right: 0;
			}
		}
	}
	.reasons-list{
		li{
			width: 100%;
			border-right: 0;
			padding: 30px 0;
			&:nth-last-child(2){
				border-bottom: 1px dashed rgba($color_tundora2, 0.5);
			}
		}
	}
	.service-intro{
		padding: 60px 0 45px;
	}
	.package-wrap{
		.cta-btn{
			.cta-link{
				&.cta-sm{
					white-space: nowrap;
				}
			}
		}
	}
	.maintenance-include{
		h3{
			font-size: 20px;
		}
		.bullet-list{
			li{
				width: 100%;
			}
		}
	}
	.maintenance-package{
		h3{
			font-size: 20px;
		}
		ul{
			li{
				margin-bottom: 30px;
			}
		}
	}
}

@media (min-width: 768px) {
  .package-table ul {
    display:none;
  }
  .package-table td, .package-table th {
    display:table-cell !important;
  }
  .package-table td, .package-table th {
    width: 330px;

  }
  .package-table td+td, .package-table th+th {
    width: auto;
  }
}