// color
$color_inherit: inherit;
$color-white: #ffffff;
$color-black: #000000;
$color_log_cabin: #222222;
$color_mine_shaft: #333333;
$color_tundora: #444444;
$color_storm_dust: #666666;
$color_mountain_mist: #999999;
$color_silver_chalice: #aaaaaa;
$color_celeste: #cccccc;
$color_gray_nurse: #eaeaea;
$color_error: #ff4349;

$body-color: #333333;

$breadcrumb-divider-color:          $body-color !default;
$breadcrumb-active-color:           $body-color !default;

$primary-font: montserrat, sans-serif;
//$primary-font: prenton, sans-serif;
//$primary-font: bio-sans, sans-serif;
$secondary-font: 'tt_bluescreens_roundbold';

$primary-color: #293170;
$secondary-color: #B31E1F;
$secondary-color-light: #EA5351;

$color_chatelle: #b5b0ce;
$color_chambray: #3c4c96;
$color_tundora2: #464646;
$color_masala: #3b3b3b;
$color_shady_lady: #909090;
$gallery: #efefef;
$color_cta_banner_bg: #0F101F;
$alto: #dbdbdb;
$color_melrose: #bfcaff;
$color-box-header: #e2e5f0;


@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin transition($args...) {
	transition: $args;
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
}

@mixin box-shadow($args...) {
	box-shadow: $args;
	-webkit-box-shadow: $args;
	-moz-box-shadow: $args;
}

@mixin transform-rotate($args...) {
	-webkit-transform: rotate($args);
	-moz-transform: rotate($args);
	-o-transform: rotate($args);
	-ms-transform: rotate($args);
	transform: rotate($args);
}

@mixin transform($args...) {
	-webkit-transform: ($args);
	-moz-transform: ($args);
	-ms-transform: ($args);
	-o-transform: ($args);
	transform: ($args);
}
@mixin transition-delay($args...) {
	-webkit-transition-delay: ($args);
	-moz-transition-delay: ($args);
	-o-transition-delay: ($args);
	transition-delay: ($args);
}