.work-banner{
	padding: 220px 0;
	position: relative;
	h1{
		color: $color_chambray;
		text-align: center;
		font-size: 120px;
		letter-spacing: 0.040em;
		line-height: 120px;
		text-transform: uppercase;
		width: 100%;
	}
}
.work-nav{
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	padding: 0 10px;
	z-index: 12;
	ul{
		display: flex;
		justify-content: center;
		li{
			padding: 0 30px;
			a{
				display: inline-block;
				font-size: 25px;
				color: $color_chambray;
				font-family: $secondary-font;
				padding-bottom: 18px;
				letter-spacing: 0.1em;
				line-height: 26px;
				position: relative;
				&:before{
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					margin: 0 auto;
					bottom: 0;
					height: 3px;
					background: $color_chambray;
					width: 0;
					@include border-radius(5px);
					@include transition(all 0.5s);
				}
				&:hover{
					&:before{
						width: 100%;
					}
				}
			}
			&.active{
				a{
					&:before{
						width: 100%;
					}
				}
			}
		}
	}
	.filter-btn{
		border: 0;
		background: rgba($secondary-color-light, 0.2);
		color: $color-black;
		font-size: 18px;
		font-weight: 500;
		width: 100%;
		text-align: left;
		padding: 8px 30px;
		position: relative;
		display: none;
		&:after{
			content: "\f107";
			font-family: "FontAwesome";
			position: absolute;
			right: 15px;
			font-size: 24px;
			line-height: 24px;
		}
		&.open{
			&:after{
				content: "\f106";
			}
		}
		i{
			margin-right: 5px;
		}
	}
}

.work-list-wrap{
	padding: 70px 0;
	.container{
		max-width: 1100px;
	}
}
.work-list{
	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li{
			max-width: 480px;
			width: calc(50% - 30px);
			background: $color-white;
			margin: 0 15px 40px;
			@include border-radius(5px);
			@include box-shadow(0 0px 20px rgba($color-black, 0.08));
			@include transition(all 0.5s);
			@include transform(scale(1));
			overflow: hidden;
			a{
				display: block;
				padding: 50px 30px 65px;
				position: relative;
				color: $color_log_cabin;
				@include transition(color 0.5s);
				overflow: hidden;
			}
			h3{
				color: $color_tundora2;
				font-family: $primary-font;
				font-size: 18px;
				font-weight: 600;
				letter-spacing: 0.040em;
				padding-top: 20px;
				padding-bottom: 8px;
				@include transition(color 0.5s);
			}
			.tags-cloud{
				span{
					display: inline-block;
					font-size: 12px;
					font-weight: 500;
					@include border-radius(2px);
					background: rgba($color-black, 0.08);
					color: #585858;
					padding: 4px 5px;
					margin-right: 2px;
					@include transition(all 0.5s);
				}
			}
			.text{
				font-size: 14px;
				line-height: 24px;
				font-weight: 400;
				letter-spacing: 0.040em;
				padding-top: 20px;
				opacity: 0.95;
			}
			.cta-btn{
				position: absolute;
				right: 30px;
				bottom: 10px;
				@include transition(all 0.5s);
			}
			.work-img{
				img{
					display: block;
					margin: 0 auto;
				}
			}
			&.quote-block{
				box-shadow: none;
				background: transparent;
				display: flex;
				align-items: center;
				text-align: center;
				&:hover{
					@include transform(scale(1));
				}
				.quote-box{
					width: 100%;
				}
				.text{
					font-size: 20px;
					line-height: 40px;
					font-style: italic;
					max-width: 400px;
					margin: 0 auto;
					color: $color-black;
					opacity: 1;
					padding-bottom: 10px;
					font-weight: 400;
				}
				h3{
					font-size: 20px;
					color: $color_tundora2 !important;
					visibility: visible;
				}
			}
		}
	}
}

@media (max-width: 1100px) {
	.work-nav{
		ul{
			li{
				padding: 0 15px;
				a{
					letter-spacing: 0.050em;
				}
			}
		}
	}
}

@media (min-width: 1025px) {
	.work-list{
		ul{
			li{
				&:hover{
					// background: var(--hover-color);
					@include transform(scale(0.97));
					a{
						color: $color-white;
					}
					.text{
						opacity: 1;
					}
					h3{
						color: $color-white;
					}
					.tags-cloud{
						span{
							color: $color-white;
							background: rgba($color-black, 0.08);
						}
					}
					.cta-btn{
						right: 30px;
					}
				}
				.cta-btn{
					position: absolute;
					right: -150px;
					bottom: 10px;
					@include transition(all 0.5s);
					.cta-link{
						&.cta-style2{
							color: $color-white;
							span{
								&:after{
									background: rgba($color-black, 0.2);
									z-index: -1;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.work-nav-list{
		display: block !important;
	}
}


@media (max-width: 767px) {
	.work-banner{
		padding: 190px 0 90px;
		h1{
			font-size: 70px;
			line-height: 70px;
			max-width: 280px;
			margin: 0 auto;
		}
	}
	.work-list{
		ul{
			li{
				width: 100%;
				margin: 0 auto 40px;
				&.quote-block{
					.text{
						font-size: 18px;
						line-height: 34px;
					}
				}
			}
		}
	}
	.work-nav{
		padding: 0;
		.filter-btn{
			display: block;
		}
		.work-nav-list{
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			background: $color-white;
			@include box-shadow(0 6px 16px rgba($color-black, .16));
			display: none;
		}
		ul{
			display: block;
			li{
				padding: 0;
				a{
					letter-spacing: 0.040em;
					font-family: $primary-font;
					font-size: 14px;
					font-weight: 600;
					padding: 10px 30px;
					display: block;
					&:before{
						display: none;
					}
				}
				&.active{
					a{
						background: $color_chambray;
						color: $color-white;
					}
				}
			}
		}
	}
}